<tr id="subject_row_<%= subject.id %>">
  <td><%= subject.name %></td>
  <td class="text-center"><%= subject.tutor_accounts.count %></td>
  <td class="text-center"><%= subject.engagements.count %></td>
  <td class="p-relative text-center">
    <%= form_with model: subject, url: switch_category_admin_subject_path(subject) do |f| %>
      <%= f.select :category, options_for_select(@category_options, subject.category), { include_blank: true }, onchange: "Rails.fire(this.form, 'submit');", id: "select_subject_#{subject.id}", class: "form-control" %>
    <% end %>
    <span id="confirm_subject_<%= subject.id %>" class="label label-success confirm subject-confirm">Updated!</span>
  </td>
  <td class="text-center"><%= type_options(subject) %></td>
  <td class="text-center">
    <%= link_to admin_subject_path(subject), remote: true, method: :delete, data: { toggle: "tooltip", placement: "top", "original-title" => "Delete this subject", confirm: "This will permanently remove the subject from the database. Are you sure?" }, class: "fs-24" do %>
      <i class="icon ion-trash-b"></i>
      <% end %>
  </td>
</tr>
