<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Your Payment Methods</h3>
      </div>
      <div class="widget-body">
        <table class="table table-hover">
          <tbody>
            <% if @payment_methods.any? %>
              <% @payment_methods.each do |payment| %>
                <tr>
                  <td>
                    <div class="pull-left">
                      <p class="lead"><%= payment.brand.upcase + " ending in " + payment.last4 %></p>
                      <p><%= payment.name %></p>
                      <p><%= payment.address_line1 %></p>
                      <p><%= payment.address_line2 %></p>
                      <p><%= "#{payment.address_city}, #{payment.address_state} #{payment.address_zip}" %></p>
                    </div>
                  </td>
                  <td>
                    <% if @payment_methods.count > 1 %>
                      <%= link_to "Remove", clients_payment_method_path(id: payment.id), method: :delete, class: "btn btn-default", data: { confirm: "Are you sure you want to remove this card?" } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <p>You do not have any payment methods saved</p>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Add a new card</h3>
      </div>
      <div class="widget-body">
        <%= form_for clients_payment_methods_path, html: { class: "stripe_form" } do %>
          <%= check_box_tag :use_new_card, "true", true, class: "hidden" %>
          <%= render "clients/payments/card_parameters", div_class: nil, save_card_option: false %>
          <div class="row m-0">
            <%= submit_tag "Submit", class: "pull-right btn btn-primary", data: { disable_with: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
