<div class="row">
  <%= render "profile_box" %>
  <div class="col-lg-8 text-center" style="display:block">
    <div class="widget">
      <div class="widget-head">
      </div>
      <div class="widget-body">
        <i class="text-center icon ion-ios-person fs-120"></i>
        <!-- <img src="<%=  %>" width="100" alt="Profile Image" class="img-circle"> -->
        <h4 class="mt-20 mb-5 text-black"><%= current_user.name %></h4>
        <p class="fs-12 text-uppercase text-muted"><%= cleanup_phone_number(current_user.phone_number) %></p>
        <p><%= current_user.email %></p>
      </div>
    </div>
  </div>
</div>

<% if current_user.has_role?('tutor') %>
  <div class="row">
    <div class="col-xs-12">
      <div class="widget">
        <div class="widget-heading">
          <div class="col-xs-12">
            <h2 class="widget-title">Your Subjects
              <%= link_to tutors_subjects_path do %>
                <i class="ion-edit fs-18"></i></a>
            <% end %>
            </h2>
          </div>
        </div>
        <div class="widget-body clearfix mt-30">
          <% current_user.tutor_account.subjects.each do |subject| %>
            <div class="col-lg-4 col-sm-6">
              <%= content_tag :p, subject.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

