<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-heading clearfix">
          <h3 class="widget-title pull-left">Invoices</h3>
        </div>
        <div class="widget-body">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Client</th>
                  <th>Subject</th>
                  <th class="text-center">Academic Type</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Hours</th>
                  <th class="text-center">Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @invoices.each do |invoice|
                  presenter = InvoicePresenter.new(invoice) %>
                  <tr>
                    <td><%= presenter.client_name %></td>
                    <td><%= presenter.subject %></td>
                    <td class="text-center"><%= presenter.academic_type %></td>
                    <td class="text-center"><%= presenter.created_at %></td>
                    <td class="text-center"><%= presenter.description %></td>
                    <td class="text-center"><%= presenter.hours %></span></td>
                    <td class="text-center"><%= presenter.amount %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
