<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma App - Login</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="../plugins/PACE/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="../plugins/PACE/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Ionicons-->
    <link rel="stylesheet" type="text/css" href="../plugins/Ionicons/css/ionicons.min.css">
    <!-- Itim-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <!-- Core CSS-->
    <link rel="stylesheet" type="text/css" href="../build/css/first-layout.css">
  </head>
<div class="form-box-inner">
  <h2 class="title text-center">Login to Your Account</h2>
  <div class="row">
    <div class="form-container col-md-5 col-sm-12 col-xs-12">
      <%= form_for :session, url: session_path, html: { class: "login-form" } do |form| %>
        <div class="form-group email">
          <%= form.label :email, class: "sr-only"  %>
          <span class="fa fa-user icon"></span>
          <%= form.email_field :email, type: "email", placeholder: "Email", class: "form-control login-email" %>
        </div>

        <div class="form-group password">
          <%= form.label :password, class: "sr-only"  %>
          <span class="fa fa-lock icon"></span>
          <%= form.password_field :password, placeholder: "Password", class: "form-control login-password" %>
        </div>

        <div class="form-group">
          <div class="pull-left">
              <%= form.label :remember_me, class: "remember-me" do %>
                <%= form.check_box :remember_me %>
                  Remember me
              <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="pull-right">
        <p class="resetp-path">
          <%= link_to "Trouble signing in?", reset_password_path, class: "resetp-link" %>
        </p>
      </div>
    </div>

        <button type="submit" class="btn btn-block btn-primary">Login</button>

        <p class="alt-path">Need an account?
          <a class="signup-link" href="http://www.plexmate.com/sign_up">Sign up now</a>
         </p>

      <% end %>
    </div>

    <div class="social-btns col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-sm-offset-0">
      <div class="divider">
        <span>Or</span>
      </div>
      <ul class="list-unstyled social-login">
        <li>
          <%= link_to "/auth/dwolla", class: "social-btn twitter-btn btn" do %>
            <i class="fa fa-university"></i>Log in with Dwolla</button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
