<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Assignment</h3>
      </div>
      <div class="widget-body">
        <%= form_for(@assignment) do |f| %>

          <%= f.label :tutor_id, "Tutor" %>
          <div class="select-option">
            <i class="ion-chevron-down"></i>
            <%= f.select :tutor_id, options_from_collection_for_select(@tutors, :id, :name)%>
          </div>

          <div class="form-group">
            <%= f.label :hourly_rate %>
            <%= f.number_field :hourly_rate, value: @assignment.hourly_rate, class: "form-control", required: :true, min: 0 %>
          </div>

          <div class="form-group">
            <%= f.label :student_id %>
            <%= f.text_field :student_id, value: @assignment.student.name, class:"form-control", disabled: true %>
          </div>

          <div class="form-group">
            <%= f.label :subject %>
            <%= f.text_field :subject, value: @assignment.subject, class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :academic_type %>
            <%= f.text_field :academic_type, value: @assignment.academic_type, class:"form-control" %>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline btn-blue">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
