<div class="wrapper text-center">
  <%= devise_error_messages! %>
  <h2>Sign up</h2>
  <p>Already have an account?<%= render "devise/shared/links" %></p>
  <h4> Signing up requires a credit card for future payments. </h4>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal col-sm-offset-4", id: "payment-form" }) do |f| %>

  <div class="form-group">
    <span class="payment-errors alert-danger col-sm-7"></span>
  </div></br>

    <div class="form-group">
      <%= f.label :name, class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :name, autofocus: true, data: {stripe: "name"}, class:"form-control col-sm-3 input-sm", :required => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.email_field :email, autofocus: true, class:"form-control col-sm-3 input-sm", :required => true %>
      </div>
    </div>

    <div class="form-group">
      <label for="credit-card-number" class="col-sm-2 control-label">Credit Card</label>
      <div class="col-sm-3">
        <input type="text" class="form-control col-sm-3 input-sm"  data-stripe="number" title="Fill in your credit card number." required>
        </input>
      </div>
      <img src="/img/credit-card-icons.png" class="img-responsive col-sm-2"></img>
    </div>

    <div class="form-group">
      <label for="exp" class="col-sm-2 control-label">Expiration</label>
      <div class="controls">

        <div class="col-sm-2">
          <%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control input-sm', name: nil, data: {stripe: "exp-month"}) %>
        </div>

        <div class="col-sm-5">
          <div class="col-sm-3">
            <%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control input-sm', name: nil, data: {stripe: "exp-year"}) %>
          </div>
        </div>

        <%= hidden_field_tag :token %>

      </div>
    </div>

    <div class="form-group row">
      <label for="cvv-code" class="col-sm-2 control-label">CVV</label>
      <div class="col-sm-1 col-cvv-fixed-width">
        <input type="text" class="form-control input-sm"  data-stripe="cvc" size="4" required></input>
      </div>

      <a id="cvv" class="col-sm-2" data-content="<strong>Visa速, Mastercard速, and Discover速 cardholders:</strong><p>Turn your card over and look at the signature box. You should see either the entire 16-digit credit card number or
just the last four digits followed by a special 3-digit code. This 3-digit code is your CVV number / Card Security Code.</p><strong> American Express速 cardholders:</strong><p>Look for the 4-digit code printed on the front of your card just above and to the right of your main credit card number. This 4-digit code is your Card Identification Number (CID). The CID is the four-digit code printed just above the Account Number.</p>" data-placement="right" data-toggle="popover" class="btn" data-original-title="Card Verification Number" data-html="true" style="font-size:11px">What is my CVV code?</a>

    </div>
  </fieldset>

    <div class="form-group">
      <%= f.label :password, class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.password_field :password, autocomplete: "off", class:"form-control col-sm-3 input-sm", :required => true %>
      </div>
        <% if @minimum_password_length %>
        <em class="col-sm-3">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control col-sm-3 input-sm", :required => true %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-2"></div>
      <%= f.submit "Sign up", class:"btn btn-success col-sm-3" %>
    </div>
  <% end %>
</div>

<script>
  $(function () {
    $("#cvv").popover({
      trigger: 'hover'
    });
  });
</script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
