<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="text-center">
        <h4>Sign Up Process</h4>
      </div>
      <p class="m-15">At Top Tutoring, it is our top priority to ensure you receive the best tutoring solution for your academic needs. In order to get in touch with one of our Directors for a free consultation, you can either submit the provided form or call us at:</p>
      <div class="text-center">
        <a herf="tel:15108425221">
          <%= cleanup_phone_number("15108425221") %>
        </a> 
      </div>
      <p class="m-15"> Already have an account?
      <%= link_to "Sign in", sign_in_path %>
      </p>
      <%= image_tag("yellownotebook.jpg", class: "visible-lg center-block contact-us-image") %>
    </div>

    <div class="col-lg-6">
      <%= form_for @user, url: users_clients_path(@user), html: { class: "signup-form", id: "client-signup" } do |form| %>

        <%= form.fields_for :signup do |client_field| %>
          <div class="col-sm-6 col-lg-6 mb-15 select-option">
            <%= client_field.select :student, [["My Child", false], ["Myself", true]], { prompt: "This is for..." }, { required: true, class:"form-control input-lg" } %>
          </div>

          <div class="col-sm-6 col-lg-6 mb-15 select-option">
            <%= client_field.select :subject_id, options_from_collection_for_select(Subject.all.order(:name), "id", "name"), { prompt: "Subject" }, { required: true, class:"form-control input-lg" } %>
          </div>
        <% end %>

        <div class="col-sm-6">
          <%= form.text_field :first_name, type: "text", placeholder: "First Name", class: "form-control input-lg mb-15", required: true %>
        </div>

        <div class="col-sm-6">
          <%= form.text_field :last_name, type: "text", placeholder: "Last Name", class: "form-control input-lg mb-15", required: true %>
        </div>

        <div class="col-sm-6">
          <%= form.text_field :phone_number, placeholder: "Phone Number", class: "form-control input-lg mb-15", required: true %>
        </div>

        <div class="col-sm-6">
          <%= form.email_field :email, type: "text", placeholder: "Email", class: "form-control input-lg mb-15", required: true %>
        </div>

        <div class="col-sm-6">
          <%= form.password_field :password, placeholder: "Password", class: "form-control input-lg mb-15", required: true %>
        </div>

        <div class="col-sm-6">
          <%= password_field_tag :confirm_password, nil, placeholder: "Confirm Password", class: "form-control input-lg mb-15", required: true %>
        </div>

        <%= form.fields_for :signup do |client_field| %>
          <div class="col-xs-12">
            <%= client_field.text_area :comments, placeholder: "Comments", class: "form-control mb-15", rows: "3", style: "height:100px" %>
          </div>
        <% end %>

        <div class="col-md-12 text-center mb-15">
          <%= form.submit "Submit", class: "btn btn-lg btn-blue" %>
        </div>

        <div class="col-md-12">
          <p class="note text-center">
          By signing up, you agree to our
          <a href="https://toptutoring.com/terms_of_service/">terms of service</a>
          and
          <a href="https://toptutoring.com/privacy_policy/">privacy policy</a>.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
