<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase">Sign Up</h4>
        <p> Already have an account?
          <%= link_to "Sign in", sign_in_path %>
        </p>
        <%= image_tag("yellownotebook.jpg", class: "contact-us-image") %>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><br></p>
      </div>
      <div class="col-sm-6 col-md-6 col-md-offset-1">
        <div class="col-md-12">
          <p class="note text-center">
            Who is this tutoring for?
          </p>
        </div>
        <%= form_for @user, url: users_clients_path(@user), html: { class: "signup-form", id: "client-signup" } do |form| %>

          <%= form.fields_for :client_info do |client_field| %>
            <div class="col-md-2 col-md-offset-2">
              <%= client_field.radio_button :tutoring_for, 0 %>
              <%= label :tutoring_info_myself, 'Myself' %>
            </div>
            <div class="col-md-5 col-md-offset-2">
              <%= client_field.radio_button :tutoring_for, 1, checked: true %>
              <%= label :tutoring_info_someone_else, 'Someone else (My child)' %>
            </div>
            </br></br>
          <% end %>

          <div class="col-md-12">
            <%= form.text_field :name, type: "text", placeholder: "FULL NAME" %>
          </div>

          <div class="col-md-12">
            <%= form.email_field :email, type: "text", placeholder: "YOUR EMAIL" %>
          </div>

          <div class="col-md-12">
            <%= form.password_field :password, placeholder: "PASSWORD" %>
          </div>

          <%= form.fields_for :client_info do |client_field| %>
            <div class="col-md-12">
              <%= client_field.text_field :subject, placeholder: "TUTORING SUBJECT" %>
            </div>

            <div class="col-md-12">
              <%= client_field.text_area :comments, placeholder: "COMMENTS", rows: "3", style: "height:100px;" %>
            </div>
          <% end %>

          <div class="col-md-12">
            <button type="submit" class="btn btn-lg btn-blue">Sign up</button>
          </div>

          <div class="col-md-12">
            <p class="note text-center">
              By signing up, you agree to our
                <a href="https://toptutoring.com/terms_of_service/">terms of service</a>
              and
                <a href="https://toptutoring.com/privacy_policy/">privacy policy</a>.
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
