<div class="col-md-12">
  <h1>New Tutor Signup</h1>
  <p>
    Thanks for choosing Top Tutoring. We provide excellent online tutoring
    to people all over the world.
  </p>
  <%= form_for @user, url: users_tutors_path(@user), html: { class: "signup-form", id: "tutor-signup" } do |f| %>
    <div class="col-md-12">
      <%= f.label :name %>
      <%= f.text_field :name, type: "text", placeholder: "FULL NAME", required: true %>
    </div>

    <div class="col-md-12">
      <%= f.label :phone_number %>
      <%= f.email_field :phone_number, type: "text", placeholder: "(510) 555-5555", required: true %>
    </div>

    <div class="col-md-12">
      <%= f.label :email %>
      <%= f.email_field :email, type: "text", placeholder: "YOUR UC BERKELEY EMAIL", required: true %>
    </div>

    <div class="col-md-12">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "PASSWORD", required: true %>
    </div>

    <div class="col-md-12" style="margin-top:60px;">
      <%= render "tutor_checkbox_subjects", f: f %>
    </div>

    <div class="col-md-12" style="margin-top:60px;">
      <%= f.submit "Sign up", class: "btn btn-lg btn-blue" %>
    </div>
  <% end %>
</div>
