<div class="col-md-12">
  <h1>New Tutor Signup</h1>
  <p>
    Thanks for choosing Top Tutoring. We provide excellent online tutoring
    to people all over the world.
  </p>
  <%= form_for @user, url: users_tutors_path(@user), html: { class: "form-vertical", id: "tutor-signup" } do |f| %>
    <div class="col-md-12 form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, type: "text", placeholder: "FIRST NAME", class: "form-control mb-15 input-lg", required: true %>
    </div>

    <div class="col-md-12 form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, type: "text", placeholder: "LAST NAME", class: "form-control mb-15 input-lg", required: true %>
    </div>

    <div class="col-md-12 form-group">
      <%= f.label :phone_number %>
      <%= f.email_field :phone_number, type: "text", placeholder: "(510) 555-5555", class: "form-control mb-15 input-lg", required: true %>
    </div>

    <div class="col-md-12 form-group">
      <%= f.label :email %>
      <%= f.email_field :email, type: "text", placeholder: "YOUR UC BERKELEY EMAIL", class: "form-control mb-15 input-lg", required: true %>
    </div>

    <div class="col-md-12 form-group">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "PASSWORD", class: "form-control mb-15 input-lg", required: true %>
    </div>

    <div class="col-md-12 form-group">
      <%= f.label :confirm_password %>
      <%= password_field_tag :confirm_password, nil, placeholder: "CONFIRM PASSWORD", class: "form-control mb-15 input-lg", required: true %>
    </div>

    <div class="col-md-12">
      <h4>Non-Solicitation Agreement</h4>
      <p>For and in consideration of my employment and placement as a tutor for Top Tutoring, I hereby agree that during my employment for Top Tutoring and for a period of five years after the end or termination of my employment, irrespective of the time, manner or cause of said termination, I will not directly or indirectly, either as principal, agent, employee or employer, stockholder, co-partner or in any other individual or representative capacity whatsoever, solicit or tutor any person whom I have tutored while acting as an agent and/or tutor for Top Tutoring. I also will not tutor any person referred to me by any client, which client was referred to me by Top Tutoring, unless I first refer said person to Top Tutoring for arrangements to be made for payment of tutoring fees for said tutoring.</p>
      <%= label_tag do %>
        <%= check_box_tag "agreement", 1, false, required: true %>
        By checking, I agree to the non-solicitation agreement above.
      <% end %>
    </div>

    <div class="col-md-12" style="margin-top:60px;">
      <%= render "tutor_checkbox_subjects", f: f %>
    </div>

    <div class="col-md-12" style="margin-top:60px;">
      <%= f.submit class: "btn btn-lg btn-blue" %>
    </div>
  <% end %>
</div>
