<h2>Please take a moment to select what subjects you will be tutoring</h2>
<fieldset>
  <%= f.fields_for :tutor_account do |account_fields| %>
    <div class="row">
      <%= account_fields.collection_check_boxes :subject_ids, Subject.all, :id, :name do |c| %>
        <div class="col-md-4">
          <div class="form-group">
            <%= c.label do %>
              <%= c.check_box %>
              <span><%= c.text %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</fieldset>
