<%= content_for :meta_tags do %>
  <meta property="og:url"           content="<%= url_for(subdomain: "app") %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%= @post.title %>" />
  <meta property="og:description"   content="<%= @post.excerpt %>" />
  <meta property="og:image"         content="<%= image_url("topTutoringFinal.png") %>" />
<% end %>

<%= render layout: "pages/blog_posts/blog_layout" do %>
  <div class="post-snippet mb64">
    <article>
      <div class="post-title">
        <h3 class="inline-block mb12">
          <span class="post-title" itemprop="name headline"><%= @post.title %></span>
        </h3>
      </div>
      <div class="addthis_inline_share_toolbox mb12"></div>

      <div class="post-content">
        <%= raw @post.content %>
      </div>

      <div class="addthis_inline_share_toolbox mb24"></div>
      <div class="clearfix"></div>

    </article>

    <% if true_production %>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592c8482ca63f984"></script>
    <% end %>

  </div>
<% end %>
