<div class="row">
  <%= render "low_balance_alert" %>
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Invoice session</h3>
      </div>
      <div class="widget-body">
        <h5>Use this form to log future sessions with your students.</h5>
        <%= form_for(@invoice) do |f| %>

          <div class="form-group">
            <%= f.label :student %>
            <span class="form-info"><%= @student.student.name %></span>
          </div>

          <div class="form-group">
            <%= f.label :subject %>
            <span class="form-info"><%= @student.assignment.subject %></span>
          </div>

          <div class="form-group">
            <%= f.number_field :hours, class:"form-control", required: true, min:"1", pattern: "[0-9]", step: "1", placeholder: "Hours"%>
          </div>

          <div class="form-group">
            <%= f.text_field :description, class:"form-control", placeholder: "Description" %>
          </div>

          <%= f.hidden_field :student_id, value: @student.id %>

          <br />
          <div class="text-center">
            <button type="submit" class="btn btn-outline btn-blue">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
