<%= form_for(@student, url: students_path) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class:"form-control", required: true, placeholder: "Full Name" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, class:"form-control", placeholder: "Email" %>
  </div>

  <%= fields_for @student.engagements.build do |engagement_field| %>
    <div class="form-group">
      <%= engagement_field.select :subject, options_from_collection_for_select(Subject.all.order(:name), "id", "name"), prompt: "Subject", required: true, class:"form-control" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
  </div>
<% end %>
