<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Tutoring Assignments</h3>
        <%= link_to new_student_path do %>
          <button type="button" class="btn btn-outline btn-primary inline-button">New student</button>
        <% end %>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Email</th>
                <th>Tutor</th>
                <th>Subject</th>
              </tr>
            </thead>
            <tbody>
              <% @engagements.each do |engagement| %>
                <tr>
                  <td><%= engagement.student_name %></td>
                  <td><%= engagement.try(:student).try(:email) ? engagement.student.email : 'Not provided' %></td>
                  <td>
                    <% if engagement.tutor.present? %>
                      <%= engagement.tutor.name %>
                    <% else %>
                      Matching tutor...
                    <% end %>
                  </td>
                  <td>
                    <%= engagement&.subject %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
