<%= render "layouts/page_widget", title: "Blog Posts" do %>
  <%= link_to "New Post", new_blog_post_path, class: "btn btn-primary" %>
  <%= link_to "Blog Categories", blog_categories_path, class: "btn pull-right" %> 
  <div class="table-responsive">
    <table class="table mb-0 table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Publish Date</th>
          <th>Draft?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @posts %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @posts %>
<% end %>
