<%= form_with model: Lead, url: leads_path, id: "contact-form" do |f| %>
  <div class="col-sm-6">
    <%= f.text_field :first_name, type: "text", placeholder: "First Name", required: true %>
  </div>

  <div class="col-sm-6">
    <%= f.text_field :last_name, type: "text", placeholder: "Last Name", required: true %>
  </div>

  <div class="col-sm-6">
    <%= f.text_field :phone_number, placeholder: "Phone Number", required: true %>
  </div>

  <div class="col-sm-6">
    <%= f.number_field :zip, type: "text", pattern: "\\d{5}", max_length: 5, placeholder: "Zip Code", required: true %>
  </div>

  <div class="col-sm-12">
    <%= f.email_field :email, type: "text", placeholder: "Email", required: true %>
  </div>

  <div class="col-sm-12 select-option chosen">
    <i class="ti-angle-down"></i>
    <%= f.select :subject_id, grouped_options_for_select(subject_grouped_select_options), { include_blank: true }, id: "subject_id", data: { placeholder: "Subject" }, class: "chosen-select" %>
  </div>

  <div class="col-xs-12">
    <%= f.text_area :comments, placeholder: "Comments", rows: "3", maxLength: 1500 %>
  </div>

  <div class="col-xs-12">
    <%= f.submit "Send Message", class: "btn btn-success" %>
  </div>
<% end %>
