<tr id="row_user_<%= user.id %>">
  <td>
    <div class="media">
      <div class="media-body">
        <a href="#user_info_modal_<%= user.id %>" data-toggle="modal" aria-expanded="false">
          <h5 class="media-heading mt-4 mr-10">
            <%= user.full_name %>
          </h5>
        </a>
        <p class="text-muted mb-0"><%= phone_number_display(user) %></p>
        <p class="text-muted mb-0"><%= user.email.downcase %></p>
      </div>
    </div>
  </td>
  <td class="not-visible-xs text-center"><%= l user.created_at, format: :date %></td>
  <td class="not-visible-xs"><%= number_to_currency(user.online_academic_rate) %> / <%= number_to_currency(user.in_person_academic_rate) %></td>
  <td class="not-visible-xs"><%= number_to_currency(user.online_test_prep_rate) %> / <%= number_to_currency(user.in_person_test_prep_rate) %></td>
  <td class="not-visible-sm"><%= user.online_academic_credit.to_s + " hrs" %> / <%= user.in_person_academic_credit.to_s + " hrs" %></td>
  <td class="not-visible-sm"><%= user.online_test_prep_credit.to_s + " hrs" %> / <%= user.in_person_test_prep_credit.to_s + " hrs" %></td>
  <td class="text-center">
    <% admin_user_actions(user, "client") %>
  </td>
  <%= render "admin/users/user_modal", user: user %>
</tr>
