<%= form_tag '/clients/students' do %>
  <div class="form-group form-group-lg">
    <%= text_field_tag :first_name, nil, class:"form-control input-lg", required: true, placeholder: "First Name" %>
  </div>

  <div class="form-group form-group-lg">
    <%= text_field_tag :last_name, nil, class:"form-control input-lg", required: true, placeholder: "Last Name" %>
  </div>

  <div class="form-group">
    <%= label_tag :create_user_account, class: "pl-20" do %>
      Create a user account for this student
      <%= check_box_tag :create_user_account, 'yes', true %>
    <% end %>
  </div>

  <%= fields_for User.new do |user_field| %>
    <div class="form-group form-group-lg">
      <%= user_field.email_field :email, class:"form-control input-lg", placeholder: "Email (ony required if creating account for student)" %>
    </div>
  <% end %>

  <%= fields_for Engagement.new do |engagement_field| %>
    <div class="form-group form-group-lg select-option">
      <%= engagement_field.select :subject_id, grouped_options_for_select(subject_grouped_select_options), { prompt: "Subject" }, class: "form-control input-lg", required: true %>
    </div>
  <% end %>

  <div class="text-center">
    <%= submit_tag "Submit", class: "btn btn-outline btn-primary" %>
  </div>
<% end %>
