<%= form_tag '/clients/students' do %>
  <div class="form-group">
    <%= text_field_tag :first_name, nil, class:"form-control", required: true, placeholder: "First Name" %>
  </div>

  <div class="form-group">
    <%= text_field_tag :last_name, nil, class:"form-control", required: true, placeholder: "Last Name" %>
  </div>

  <div class="form-group">
    <%= label_tag :create_user_account, class: "pl-20" do %>
      Create a user account for this student
      <%= check_box_tag :create_user_account, 'yes', true %>
    <% end %>
  </div>

  <%= fields_for User.new do |user_field| %>
    <div class="form-group">
      <%= user_field.email_field :email, class:"form-control", placeholder: "Email (ony required if creating account for student)" %>
    </div>
  <% end %>

  <%= fields_for Engagement.new do |engagement_field| %>
    <div class="form-group select-option chosen">
      <%= engagement_field.select :subject_id, grouped_options_for_select(subject_grouped_select_options), { include_blank: true }, data: { placeholder: "Please choose one of the following..." }, class: "chosen-select form-control" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= submit_tag "Submit", class: "btn btn-outline btn-primary" %>
  </div>
<% end %>
