<li class="panel"><a href="/admin/payments"><i class="ion-card bg-success"></i><span class="sidebar-title">Payment History</span></a></li>

<li class="panel">
  <%= link_to admin_tutors_path do %>
    <i class="icon ion-ios-contact bg-purple"></i>
    <span class="sidebar-title">Tutors</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to engagements_path do %>
    <i class="icon ion-ios-contact bg-primary"></i>
    <span class="sidebar-title">Engagements</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to admin_users_path do %>
    <i class="icon ion-ios-contact bg-success"></i>
    <span class="sidebar-title">Users</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to admin_roles_path do %>
    <i class="icon ion-ios-clock bg-success"></i>
    <span class="sidebar-title">Roles</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to admin_invoices_path do %>
    <i class="icon ion-clipboard bg-primary"></i>
    <span class="sidebar-title">Invoices</span>
  <% end %>
</li>          

<li class="panel">
  <%= link_to admin_timesheets_path do %>
    <i class="icon ion-cash bg-success"></i>
    <span class="sidebar-title">Timesheets</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to admin_emails_path do %>
    <i class="icon ion-ios-email-outline bg-danger"></i>
    <span class="sidebar-title">Emails</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to new_admin_funding_source_path do %>
    <i class="icon ion-card bg-primary"></i>
    <span class="sidebar-title">Funding Source</span>
  <% end %>
</li>
