<li class="panel">
  <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed">
    <i class="ion-ios-printer-outline bg-danger"></i><span class="sidebar-title">Payment History</span>
  </a>
  <ul id="collapse2" class="list-unstyled collapse" aria-expanded="false" style="">
    <li>
      <%= link_to "Client Payments", admin_payments_path %>
    </li>
    <li>
      <%= link_to "Tutor Payouts", admin_tutor_payouts_path %>
    </li>
  </ul>
</li>

<%= menu_link(leads_path, "Leads", "icon ion-ios-person bg-primary", Lead.active.count) %>
<%= menu_link(admin_invoices_path, "Invoices", "icon ion-clipboard bg-primary", Invoice.by_tutor.pending.count) %>
<%= menu_link(engagements_path, "Engagements", "icon ion-ios-contact bg-primary", Engagement.pending.count) %>
<%= menu_link(director_clients_path, "Clients", "icon ion-ios-contact bg-danger") %>
<%= menu_link(admin_tutors_path, "Tutors", "icon ion-ios-contact bg-purple") %>
<%= menu_link(admin_cities_path, "Cities", "icon ion-android-globe bg-success") %>
<%= menu_link(admin_client_reviews_path, "Reviews", "icon ion-ios-email-outline bg-danger") %>
<%= menu_link(admin_feedbacks_path, "User Comments", "icon ion-compose bg-success", Feedback.unread.count) %>
<%= menu_link(blog_posts_path, "Blog Posts", "icon ion-compose bg-success") %>
