<%= content_for :head do %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
<% end %>
<div class="col-md-8 col-md-offset-2">
  <h1 class="p-10 editable" id="blog-title-contenteditable" contenteditable="true">
    <%= @post.title || "Please add a title" %>
  </h1>

  <div class="p-10 editable" id="blog-content-contenteditable" contenteditable="true">
    <%= raw @post.content || "Please add content" %>
  </div>
</div>

<div class="col-md-3">
  <div class="widget mb16">
    <%= form_for @post, html: { class: "mt-20 mb-20", id: "blog-form" } do |f| %>
      <div class="form-group">
        <%= f.label :publish_date %>
        <%= f.text_field :publish_date, id: "datetimepicker4", value: @post.publish_date || Date.current, class: "form-control" %>
      </div>
      <%= f.submit class: "center-block btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "All Posts", blog_posts_path %>
</div>
