<section>
  <div class="container">
    <div class="row m-30">
      <div class="col-md-9">
        <%= tag.h3 @post.title, class: "inline_block mb-12"%>
        <p class="p-10"><b>Published Date: </b><%= @post.publish_date ? l(@post.publish_date) : "Not published" %></p>
        <div class="p-10">
          <%= raw @post.content %>
        </div>
      </div>
      <div class="col-md-3">
        <%= link_to "Edit Post", edit_blog_post_path(@post) %><br/>
        <%= link_to "All Posts", blog_posts_path %>
      </div>
    </div>
  </div>
</section>
