<% content_for(:title) { "Invoice Notice" } %>

<%= render layout: "layouts/mailers/standard" do %>
  <p>Hello <%= @referrer.full_name %>,</p>
  <br/>
  <p>Thank you for sharing our services with your friends. One of your referrals just finished their fifth hour of tutoring with us and as a thank you, we've added 1 hour of credit to your account. We hope you continue to enjoy our services!</p>
  <br/>
  <p>Regards,</p>
  <p>Top Tutoring</p>

  <%= content_for :extra do %>
    <table style="margin-top:30px;border:0;border-spacing:0;border-collapse:collapse;width:100%;background-color:rgb(245,245,245);">
      <tbody>
        <tr>
          <td style="padding:20px;border:1px solid rgb(255,255,255);">
            <p style="color:rgb(153,153,153);font-size:18px">Previous Balance</p>
            <p><%= @rate_type.titlecase %> Hours</p>
          </td>
          <td style="padding:20px;border:1px solid rgb(255,255,255);text-align:right;">
            <p style="color:rgb(153,153,153);font-size:18px">Qty.</p>
            <p><%= @current_credits - 1 %> hrs</p>
          </td>
        </tr>
        <tr>
          <td style="padding:20px;border:1px solid rgb(255,255,255);">
            <p style="color:rgb(153,153,153);font-size:18px">Hours Credited</p>
            <p><%= @rate_type.titlecase %> Hours</p>
          </td>
          <td style="padding:20px;border:1px solid rgb(255,255,255);text-align:right;">
            <p style="color:rgb(153,153,153);font-size:18px">Qty.</p>
            <p>+1 hrs</p>
          </td>
        </tr>
        <tr>
          <td style="padding:20px;border:1px solid rgb(255,255,255)" valign="top">
            <p style="color:rgb(153,153,153);font-size:18px">Date</p>
            <p><%= l(Date.current) %></p>
          </td>
          <td width="120" align="right" style="padding:20px;border:1px solid rgb(255,255,255);" valign="top">
            <p style="color:rgb(153,153,153);font-size:18px">TOTAL</p>
            <p><strong><%= @current_credits %> hrs</strong></p>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
