<% content_for(:title) { "One Time Payment Notice" } %>

<table style="border:0;border-spacing:0;border-collapse:collapse;width:75%;min-width:350px;max-width:650px;margin:75px auto;background-color:rgb(245,245,245);">
  <tbody>
    <tr style="background-color:rgb(255,255,255);">
      <td colspan="2" align="left" valign="middle">
        <%= image_tag image_url("topTutoringFinal.png"), style: "width:95%;min-width:230px;max-width:280px;border:none;padding:0;margin:0", alt: "Top Tutoring" %>
      </td>
      <td style="font-size:32px;font-weight:300;" align="right"><p>Receipt</p></td>
    </tr>
    <tr valign="top">
      <td style="padding:20px;border:1px solid rgb(255,255,255);">
        <p style="color:rgb(153,153,153);font-size:18px;">Date</p>
        <p><%= l(@payment.created_at, format: :long_date) %></p>
      </td>
      <td style="padding:20px;border:1px solid rgb(255,255,255);">
        <p style="color:rgb(153,153,153);font-size:18px;">Billed To</p>
        <p><%= @payment.card_brand_and_four_digits %></p>
        <p><%= @payment.card_holder_name %></p>
      </td>
      <td style="padding:20px;border:1px solid rgb(255,255,255);" align="right">
        <p style="color:rgb(153,153,153);font-size:18px;">TOTAL</p>
        <p>$<%= @payment.amount%></p>
      </td>
    </tr>
  </tbody>
</table>
