<% content_for(:title) { "Invoice Notice" } %>

<table style="border:0;border-spacing:0;border-collapse:collapse;width:75%;min-width:350px;max-width:650px;margin:75px auto;background-color:rgb(255,255,255);">
  <tbody>
    <tr style="background-color:rgb(255,255,255);">
      <td colspan="3" align="left" valign="middle">
        <%= image_tag image_url("topTutoringFinal.png"), style: "width:95%;min-width:230px;max-width:280px;border:none;padding:0;margin:0", alt: "Top Tutoring" %>
      </td>
      <td style="font-size:32px;font-weight:300;" align="right"><p>Summary</p></td>
    </tr>
    <tr valign="top">
      <td style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Date</p>
        <p><%= l @invoice.session_date, format: :with_weekday %></p>
      </td>
      <td style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Subject Covered</p>
        <p><%= @invoice.subject %></p>
      </td>
      <td style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Tutor</p>
        <p><%= @invoice.submitter.full_name %></p>
      </td>
      <td style="padding:20px;" align="right">
        <p style="color:rgb(153,153,153);font-size:18px;">Hours</p>
        <p><%= @invoice.hours %></p>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="padding:20px;border-top:2px solid rgb(153,153,153);">
        <p style="color:rgb(153,153,153);font-size:18px;">Session Summary</p>
        <p><%= @invoice.description %></p>
      </td>
    </tr>
    <tr>
      <td colspan="4" align="right" height="60" style="border-bottom:2px solid rgb(153,153,153);font-weight:300;font-size:32px;padding-top:60px;">
        <p>Credit Update</p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Previous Balance</p>
        <p><%= @invoice.hours_type.titlecase + " Hours" %></p>
      </td>
      <td colspan="3" align="right" style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Qty.</p>
        <p><%= @user.send(@invoice.hours_type + "_credit") + @invoice.hours %> hrs</p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Hours Deducted</p>
        <p><%= @invoice.hours_type.titlecase + " Hours" %></p>
      </td>
      <td colspan="3" align="right" style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Qty.</p>
        <p>-<%= @invoice.hours %> hrs</p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Current Balance</p>
        <p><%= @invoice.hours_type.titlecase + " Hours" %></p>
      </td>
      <td colspan="3" align="right" style="padding:20px;">
        <p style="color:rgb(153,153,153);font-size:18px;">Qty.</p>
        <p><%= @user.send(@invoice.hours_type + "_credit") %> hrs</p>
      </td>
    </tr>
  </tbody>
</table>
