<div class="col-lg-4">
  <div class="widget">
    <div class="widget-heading">
      <h2 class="widget-title">Profile</h2><span class="inline"><%= link_to "Edit", profile_edit_path %></span>
    </div>
    <div class="widget-body">
      <ul class="list-unstyled icon mb-0 pl-20 pr-20">
        <li class="media">
          <div class="media-left"><i class="ion-ios-person"></i></div>
          <div class="media-body">
            <p>Name: <%= current_user.name %></p>
          </div>
        </li>
        <li class="media">
          <div class="media-left"><i class="ion-calendar"></i></div>
          <div class="media-body">
            <p>Date joined: <%= current_user.created_at.strftime("%B %e, %Y") %></p>
          </div>
        </li>
        <li class="media">
          <div class="media-left"><i class="ion-email"></i></div>
          <div class="media-body">
            <p>Email: <%= current_user.email %></p>
          </div>
        </li>
        <li class="media">
          <div class="media-left"><i class="ion-iphone"></i></div>
          <div class="media-body">
            <p>Phone: <%= current_user.phone_number %></p>
          </div>
        </li>
        <% if current_user.has_role?('tutor') %>
          <li class="media">
            <div class="media-left"><i class="ion-ios-bookmarks"></i></div>
            <div class="media-body">
              <% if current_user.subjects.empty? %>
                <p>Subjects Listed: None</p>
              <% else %>
                <p>Subjects Listed: <%= current_user.subjects.pluck(:name).join(", ") %></p>
              <% end %>
            </div>
          </li>
        <% end %>
        <li class="media">
          <div class="media-left"><i class="ion-cash"></i></div>
          <div class="media-body">
            <% if current_user.has_external_auth? %>
              <p>Dwolla: Authentication</p>
            <% else %>
              <a href="/auth/dwolla">Dwolla: Please Authenticate</a>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
