  <div class="widget">
    <div class="widget-heading">
      Thanks for using Top Tutoring. We provide excellent online tutoring
      to people all over the world.
    </br></br>
      <p>
        Please take a second to complete your account and get full access to our application.
      </p>
    </div>
    <div class="widget-body">
      <%= form_for(current_user, url: user_path(current_user), html: { method: :put, id: "form-vertical" }) do |f| %>
        <h3>Account Information</h3>
        <fieldset>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, value: current_user.name, class:"form-control", required: true, readonly: true %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, value: current_user.email, class:"form-control", required: true, readonly: true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :phone_number %>
                <%= f.text_field number_to_phone(:phone_number), value: number_to_phone(current_user.phone_number), class:"form-control" %>
              </div>
            </div>
          </div>
        </fieldset>
        <% if current_user.is_student? %>
          <%= render "users/client_fields", f: f %>
        <% else %>
          <%= render "users/student_fields", f: f %>
        <% end %>
        <%= f.submit "", class:"hidden-submit" %>
      <% end %>
    </div>
  </div>
