<h3>Student Information</h3>
<fieldset>
  <%= f.fields_for :students do |student_field| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= student_field.label :student_name %>
          <%= student_field.text_field :name, class:"form-control", required: true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= student_field.label :student_email %>
          <%= student_field.email_field :email, class:"form-control" %>
        </div>
      </div>
    </div>
  <% end %>
</fieldset>
