<h3>Student Information</h3>
<fieldset>
  <%= f.fields_for :student do |student_field| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <h4>Please tell us about the student that you are creating the account for.</h4><br>
          <h5>Student's Name</h5>
          <%= student_field.text_field :name, class:"form-control", required: true %>

          <h5>Student's Email</h5>
          <%= student_field.email_field :email, class:"form-control", id: "user_student_email", style: "margin-bottom: -2px;",
            oninput: "checkIfEmailUnique(this.id);", onfocus: "showStudentEmailInfo();"%>

          </br>
          <h5>Tutoring Type (Based on your selected subject)</h5>
          <select name="info[academic_type]" class="students-academic-type" style="cursor:not-allowed" disabled>
            <option value="Academic">Academic</option>
            <option value="Test_Prep" <%= if get_academic_type_from_subject == 'Test Prep'; 'selected'; end; %>>Test Preparation</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget" style="visibility: hidden;" id="student_email_info">
          <div class="widget-heading clearfix" style="background-color: #ffffee;">
            If you do not wish to create a separate user account for your child, you may re-enter the email used to
            create your account (<u><%= current_user.email %></u>) or just leave the field blank. All transactions and messages will
            be sent only to your account. This is recommended for younger students.
          </div>
        </div>
        <div class="widget email-error-msg" style="visibility: hidden;">
          <div class="widget-heading clearfix" style="background-color: #ffffee;">
            Sorry! It looks like that email has already been taken by another client.
          </div>
        </div>
      </div>
    </div>
  <% end %>
</fieldset>

<script>
  function checkIfEmailUnique(id) {

    var inputEmail = document.getElementById(id).value;
    var xhr = new XMLHttpRequest();
    xhr.responseType = "text/javascript";

    function requestListener() {
      eval(xhr.responseText);
    }

    xhr.addEventListener("load", requestListener)
    xhr.open('POST', '<%= users_email_is_unique_path %>', true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send('{"user_student_email":"'+inputEmail+'"}');
  }

  function showStudentEmailInfo() {
    document.getElementById("student_email_info").style.visibility = "visible";
  }

</script>
