<div class="row">
  <%= render "profile_box" %>
  <div class="col-lg-8 text-center" style="display:block">
    <div class="widget">
      <div class="widget-head">
      </div>
      <div class="widget-body">
        <i class="text-center icon ion-ios-person fs-120"></i>
        <!-- <img src="<%=  %>" width="100" alt="Profile Image" class="img-circle"> -->
        <h4 class="mt-20 mb-5 text-black"><%= current_user.name %></h4>
        <p class="fs-12 text-uppercase text-muted"><%= cleanup_phone_number(current_user.phone_number) %></p>
        <p><%= current_user.email %></p>
      </div>
    </div>
  </div>
</div>

<% if @availability_engagement %>
  <% if @availability_engagement.availabilities.empty? %>
    <%= link_to "Tell us your availability!", new_availability_path %>
  <% else %>
    <%= link_to "Tell us your availability!", edit_availability_path(@availability_engagement.availabilities.first.id) %>
  <% end %>
<% end %>
