<div class="table-responsive">
  <table class="table mb-0 table-striped">
    <thead>
      <tr>
        <th class="col-lg-1 col-sm-1">Invoice ID</th>
        <th class="col-lg-1 col-sm-1">Tutor</th>
        <th class="col-lg-1 col-sm-1">Date Submitted</th>
        <th class="col-lg-1 col-sm-1">Type</th>
        <th class="col-lg-1 col-sm-1">Rating</th>
        <th class="col-lg-1 col-sm-1">Client</th>
        <th class="col-lg-1 col-sm-1">Hours</th>
        <th class="col-lg-1 col-sm-1">Client Charge</th>
        <th class="text-center">Description</th>
        <th class="col-lg-1 col-sm-1">Tutor Pay</th>
        <th class="col-lg-1 col-sm-1">Status</th>
        <th class="col-lg-2 col-sm-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% invoices.order(:submitter_id).each do |invoice| %>
        <tr>
          <td>
            <%= invoice.id %>
            <br />
            <%= invoice_note_label(invoice) %>
          </td>
          <td><%= invoice.submitter.full_name %></td>
          <td><%= l(invoice.updated_at, format: :date) %></td>
          <td><%= invoice.engagement.academic_type.humanize %></td>
          <td><%= invoice.session_rating %></td>
          <td><%= invoice.engagement.client.full_name %></td>
          <td><%= invoice.hours.to_s %></td>
          <td><%= number_to_currency(invoice.amount) %></td>
          <td><%= invoice.description %></td>
          <td><%= number_to_currency(invoice.submitter_pay) %></td>
          <td><%= invoice.status %></td>
          <td>
            <%= invoice_actions(invoice) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
