<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <div>
          <h2 class="widget-title mb-30">Tutors</h2>
        </div>
        <%= form_tag admin_tutors_path, method: :get, class: "p-0 pull-left col-xs-10" do %>
          <div class="col-md-6 col-xs-10 m-0 select-option">
            <%= select_tag "subject_id", options_from_collection_for_select(Subject.all, :id, :name, @subject_id), prompt: "View All", onchange: "this.form.submit();", class: "form-control fw-400 pull-left pr-30" %>
          </div>
        <% end %>
        <% if current_user.has_role?("admin") %>
          <div class="col-xs-2">
            <%= link_to "Pay tutor", new_admin_payments_miscellaneous_payment_path, class: "btn btn-blue pull-right", style: "margin-left:20px;"%>
          </div>
        <% end %>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Balance</th>
                <th>Action</th>
                <th>Masquerade</th>
              </tr>
            </thead>
            <tbody>
              <% @tutors.each do |tutor| %>
                <tr>
                  <td><%= link_to tutor.full_name, admin_tutor_path(tutor) %></td>
                  <td><%= tutor.email %></td>
                  <td class="text-center"><%= tutor.tutor_account.balance_pending %></td>
                  <td class="text-left">
                    <%= link_to "Edit", edit_admin_tutor_path(tutor), class: "btn btn-outline btn-success" %>
                    <%= link_to "Remove", admin_user_path(tutor), class: "btn btn-outline btn-danger", method: :delete, data: { confirm: "This will permanently remove the user from the databse. Are you sure?" } %>
                  </td>
                  <td>
                    <%= render "shared/masquerade_start_button", user: tutor %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
