<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <div>
          <h2 class="widget-title mb-30">Tutors</h2>
        </div>
        <%= form_tag admin_tutors_path, method: :get, class: "p-0 pull-left col-xs-10" do %>
          <div class="col-md-6 col-xs-10 m-0 select-option">
            <%= select_tag "subject_id", options_from_collection_for_select(Subject.all, :id, :name, @subject_id), prompt: "View All", onchange: "this.form.submit();", class: "form-control fw-400 pull-left pr-30" %>
          </div>
        <% end %>
        <% if current_user.has_role?("admin") %>
          <div class="col-xs-2">
            <%= link_to "Pay tutor", new_admin_payments_miscellaneous_payment_path, class: "btn btn-blue pull-right", style: "margin-left:20px;"%>
          </div>
        <% end %>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th class="text-center">Published</th>
                <th class="text-center">Balance</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @tutors.each do |tutor| %>
                <tr id="row_user_<%= tutor.id %>">
                  <td><%= link_to tutor.full_name, admin_tutor_path(tutor) %></td>
                  <td><%= link_to_phone_number(tutor) %></td>
                  <td><%= tutor.email %></td>
                  <td class="text-center">
                    <% if tutor.tutor_account.publish %>
                      <i class="icon ion-checkmark-round text-primary"></i>
                    <% else %>
                      <i class="icon ion-close-round"></i>
                    <% end %>
                  </td>
                  <td class="text-center"><%= tutor.tutor_account.balance_pending %></td>
                  <td class="text-left">
                    <%= link_to edit_admin_tutor_path(tutor), data: { toggle: "tooltip", placement: "top", "original-title" => "Edit user info" }, class: "mr-15 fs-24" do %>
                      <i class="icon ion-edit"></i>
                    <% end %>
                    <%= link_to archive_admin_user_path(tutor), method: :patch, remote: true, data: { toggle: "tooltip", placement: "top", "original-title" => "Archive user from list", confirm: "Archiving the user will also archive all engagements. Are you sure you want to archive this user?" }, class: "mr-15 fs-24" do %>
                      <i class="icon ion-android-archive"></i>
                    <% end %>
                    <% if current_user.has_role?("admin") %>
                      <%= link_to admin_user_path(tutor), method: :delete, data: { toggle: "tooltip", placement: "top", "original-title" => "Remove user permanently", confirm: "This will permanently remove the user from the database. Are you sure?" }, class: "mr-15 fs-24" do %>
                        <i class="icon ion-trash-b"></i>
                      <% end %>
                    <% end %>
                    <%= render "shared/masquerade_start_button", user: tutor %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
