<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Tutors</h3>
        <%= link_to 'Pay tutor', new_admin_payments_miscellaneous_payment_path, class: 'btn btn-blue', style: 'margin-left:20px;'%>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Balance</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @tutors.each do |tutor| %>
                <tr>
                  <td><%= tutor.name %></td>
                  <td><%= tutor.email %></td>
                  <td class="text-center"><%= tutor_outstanding_balance(tutor)%></td>
                  <% if current_user.has_role?("admin") || current_user.has_role?("director") %>
                    <td class="text-left">
                      <%= link_to "Edit", edit_admin_tutor_path(tutor), class: "btn btn-outline btn-success" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
