<%= form_for(@user, url: url) do |f| %>
  <h3>Online Rates and Credit</h3>
  <div class="form-group">
    <%= f.label :online_academic_credit, "Online Academic Credit (in hours)" %>
    <%= f.number_field :online_academic_credit, class: "form-control", step: 0.25 %>
  </div>

  <div class="form-group">
    <%= f.label :online_test_prep_credit, "Online Test Prep Credit (in hours)" %>
    <%= f.number_field :online_test_prep_credit, class: "form-control", step: 0.25 %>
  </div>

  <div class="form-group">
    <%= f.label :online_academic_rate, "Online Academic Rate" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
    <%= f.number_field :online_academic_rate, class: "form-control", step: 0.01, min: 0 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :online_test_prep_rate, "Online Test Prep Rate" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :online_test_prep_rate, class: "form-control", step: 0.01, min: 0 %>
    </div>
  </div>

  <h3>In Person Rates and Credit</h3>
  <div class="form-group">
    <%= f.label :in_person_academic_credit, "In Person Academic Credit (in hours)" %>
    <%= f.number_field :in_person_academic_credit, class: "form-control", step: 0.25 %>
  </div>

  <div class="form-group">
    <%= f.label :in_person_test_prep_credit, "In Person Test Prep Credit (in hours)" %>
    <%= f.number_field :in_person_test_prep_credit, class: "form-control", step: 0.25 %>
  </div>

  <div class="form-group">
    <%= f.label :in_person_academic_rate, "In Person Academic Rate" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
    <%= f.number_field :in_person_academic_rate, class: "form-control", step: 0.01, min: 0 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :in_person_test_prep_rate, "In Person Test Prep Rate" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :in_person_test_prep_rate, class: "form-control", step: 0.01, min: 0 %>
    </div>
  </div>
  <div class="text-center form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
