<tr id="engagement_<%= engagement.id %>" class="<%= "archived-row" if engagement.state == "archived" %>">
  <td>
    <%= engagement_state_label(engagement) %>
    <a href="#engagement_info_modal_<%= engagement.id %>" class="<%= "text-danger" if engagement.low_balance? %>" data-toggle="modal" aria-expanded="false" class="mr-10">
      <%= engagement.student_account.name %>
    </a>
  </td>
  <td class="not-visible-xs"><%= engagement.tutor.try(:full_name) %></td>
  <td class="not-visible-xs"><%= subject_info(engagement) %></td>
  <td>
    <% actions_for_engagement(engagement, "engagements") %>
  </td>
  <%= render "engagement_modal", engagement: engagement %>
</tr>
