<tr id="engagement_<%= engagement.id %>" class="<%= "archived-row" if engagement.state == "archived" %>">
  <td>
    <%= engagement_state_label(engagement) %>
    <a href="#engagement_info_modal_<%= engagement.id %>" class="<%= "text-danger" if engagement.low_balance? %>" data-toggle="modal" aria-expanded="false" class="mr-10">
      <%= engagement.student_account.name %>
    </a>
    <%= render "engagement_modal", engagement: engagement %>
  </td>
  <td><%= engagement.tutor.try(:full_name) %></td>
  <td><%= subject_info(engagement) %></td>
  <td>
    <% actions_for_engagement(engagement) %>
  </td>
</tr>

