<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Tutoring Engagement</h3>
      </div>
      <div class="widget-body">
        <%= form_for(@engagement) do |f| %>

          <%= f.label :tutor_id, "Tutor" %>
          <div class="select-option">
            <i class="ion-chevron-down"></i>
            <%= f.select :tutor_id, options_from_collection_for_select(@tutors, :id, :name)%>
          </div>

          <div class="form-group">
            <%= f.label :student_id %>
            <%= f.text_field :student_id, value: @engagement.student.name, class:"form-control", disabled: true %>
          </div>

          <div class="form-group">
            <%= f.label :subject %>
            <%= f.text_field :subject, value: @engagement.subject, class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :academic_type %>
            <%= f.select :academic_type, options_for_select([['Academic', 'Academic'], ['Test_Prep', 'Test Prep']], @engagement.academic_type), class:"form-control" %>
          </div>

          <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
