<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Tutoring Engagement</h3>
      </div>
      <div class="widget-body">
        <%= form_for(@engagement) do |f| %>


          <div class="form-group select-option">
            <%= f.label :tutor_account_id, "Tutor" %>
            <%= f.select :tutor_account_id, options_from_collection_for_select(@tutor_accounts, :id, :full_name, @engagement.tutor_account_id), { include_blank: true }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :student %>
            <%= f.text_field :student, value: @engagement.student_name, class:"form-control", disabled: true, required: true %>
          </div>

          <div class="form-group">
            <%= f.label :client %>
            <%= f.text_field :client, value: @engagement.client.full_name, class:"form-control", disabled: true, required: true %>
          </div>

          <div class="form-group select-option">
            <%= f.label :subject_id, "Subject" %>
            <%= f.select :subject_id, options_from_collection_for_select(Subject.all.order(:name), "id", "name", @engagement.subject.id), { prompt: "Subject" }, class: "form-control", required: true %>
          </div>

          <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
