<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Tutoring Engagement</h3>
      </div>
      <div class="widget-body">
        <%= form_for(@engagement) do |f| %>

          <%= f.label :tutor_account_id, "Tutor" %>
          <div class="select-option">
            <i class="ion-chevron-down"></i>
            <%= f.select :tutor_account_id, options_from_collection_for_select(@tutor_accounts, :id, :name, @engagement.tutor_account_id), { include_blank: true }%>
          </div>

          <div class="form-group">
            <%= f.label :student %>
            <%= f.text_field :student, value: @engagement.student_name, class:"form-control", disabled: true, required: true %>
          </div>

          <div class="form-group">
            <%= f.label :client %>
            <%= f.text_field :client, value: @engagement.client.name, class:"form-control", disabled: true, required: true %>
          </div>

          <div class="form-group">
            <%= f.label :subject_id, "Subject" %>
            <%= f.select :subject_id, options_from_collection_for_select(Subject.all.order(:name), "id", "name"), { prompt: "Subject" }, required: true %>
          </div>

          <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
