<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Tutoring Engagement</h3>
      </div>
      <div class="widget-body">
        <%= form_for Engagement.new do |f| %>
          <div class="form-group select-option">
            <%= f.label :tutor_account_id, "Tutor" %>
            <%= f.select :tutor_account_id, options_from_collection_for_select(@tutor_accounts, :id, :full_name), {}, data: { placeholder: "Please choose one of the following tutors..." }, class: "chosen-select form-control", required: true %>
          </div>

          <div class="form-group select-option chosen">
            <%= f.label :student_account_id, "Student" %>
            <%= f.select :student_account_id, grouped_options_for_select(@students), {}, data: { placeholder: "Please choose one of the following students..." }, class: "chosen-select form-control", required: true %>
          </div>

          <div class="form-group select-option chosen">
            <%= f.label :subject_id, "Subject" %>
            <%= f.select :subject_id, grouped_options_for_select(subject_grouped_select_options), {}, data: { placeholder: "Please choose one of the following subjects..." }, class: "chosen-select form-control", required: true %>
          </div>

          <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
