<tr>
  <td class="text-center"><%= l(payment.created_at, format: :date) %></td>
  <td><%= payment.class == Payment ? payment.payer.full_name : payment.payee.full_name  %></td>
  <td class="text-center"><%= truncate payment.description, length: 50 %></td>
  <td class="text-center"><%= payment.status %></td>
  <td class="text-center"><%= number_to_currency(payment.amount) %></td>
</tr>
