<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="widget">
      <div class="widget-heading clearfix">
      </div>
      <div class="widget-body">
        <%= form_for @payment, :url => admin_payments_path(@login), do |form| %>

          <%= form.label :payee_id, "Tutor" %>
          <div class="select-option">
            <i class="ion-chevron-down"></i>
            <%= form.select :payee_id, options_from_collection_for_select(@tutors, :id, :name), {} %>
          </div>

          <% @tutors.each do |tutor| %>
            <input type="hidden" id="<%= tutor.id %>_tutor_hourly_rate" value="<%= tutor.tutor_info.hourly_rate %>"></input>
          <% end %>

          <div class="form-group">
            <label for="hours">Hours</label>
              <input type="number" class="form-control no-padding" id="tutor_hours" name="payments[hours]" min="0.5" max="9999">
            </input>
          </div>

          <div class="form-group">
            <%= form.label :amount, "Amount:" %>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= form.number_field :amount, class: "form-control no-padding", id: "payment_amount"%>
              <div class="input-group-addon">.00</div>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :description, "Description:" %>
            <%= form.text_area :description, class: "form-control", rows: 3%>
          </div>

          <%= form.hidden_field :payer_id, value: current_user.id %>
        <%= form.submit "Send Payment", class: "btn btn-blue margin-top-md center-block", date: {dismiss: "modal"}%>
      <% end %>
      </div>
    </div>
  </div>
</div>
