</br></br></br>
<div class="row">
  <% if @invoices.empty? %>
    <div>
      <section class="payment-section one-time-payment col-md-6">
      <%= render "payment_form" %>
      </section>
    </div>
  <% else %>
    <div class="col-md-5 col-md-offset-2">

      <div class="row">
        <h3><i class="glyphicon glyphicon-alert" style="color:#ff4444;"></i> You have unpaid first tutoring sessions</h3>
        <% @student_engagements.each do |engagement| %>
          <div style="padding-bottom:75px;">
            <h5><%= engagement.student_name %>'s first session: </h5>
            <div>
              <span class="col-md-8"><b>Notes:</b> <%= engagement.invoices.last.description %></span>
              <span class="pull-right"><%= link_to("Pay", {controller: "pages", action: "first_session_payment", engagement: engagement},
                class: "btn btn-block payment_submit", remote: true, method: "post") %></span>
              <span class="pull-right" style="padding-right: 25px;"><h4>Price: $<%= (engagement.invoices.last.hours*get_tutor_rate(engagement)).floor(2) %></h4></span>
            </div>
          </div>
        <% end %>
      </div>

      <% if current_user.academic_credit < 0.5 || current_user.test_prep_credit < 0.5 %>
        <div class="separator clearfix"></div>
        <div class="row">
          <h3><i class="glyphicon glyphicon-alert" style="color:#ff4444;"></i> Your balance is low</h3>
            </br>
            <% if @total_suggested_hours != 0 %>
              <h5 style="display:inline;">Total Suggested number of hours:</h5> <h4 style="color:#004444; display: inline;"> <%= @total_suggested_hours %> hours</h4><h5 style="display:inline;"> of Academic/Test Prep credit</h5>
              </br>
              <div class="col-md-8">Your balance is low. Your tutor has suggested this many hours of tutoring. Please purchase these
                number of hours in order for the tutor to schedule additional sessions.
              </div>
            <% else %>
            <div class="col-md-8">Your balance is running low! We recommend that you purchase more hours
              in order for the tutor to schedule additional sessions. This will help interactions
              with your tutor run smoothly. Thank you.

              </br></br>Have a question about this? <%= link_to "Please ask us!", "#" %>
            </div>
            <span class="col-md-3 pull-right"><%= link_to("Purchase more hours", "#", class: "btn btn-block payment_submit") %></span>
            <% end %>
        </div>
      <% end %>

      <% if @total_suggested_hours != 0 %>
        <br>
        <div class="row">
          <table class="table mb-0">
            <th>Tutor</th>
            <th>Student</th>
            <th>Suggested Hours</th>
            <th>Tutoring Type</th>
            <th>Total</th>

            <% @student_engagements.each do |engagement| %>
              <tr>
                <td><%= engagement.tutor.name %></td>
                <td><%= engagement.student_name %></td>
                <td><%= get_suggested_hours(engagement) %> hours</td>
                <td><%= engagement.academic_type %></td>
                <td>$<%= ((get_suggested_hours(engagement))*(get_tutor_rate(engagement))).floor(2) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>

    <% if @total_suggested_hours != 0 %>
      </br></br>
        <div class="separator clearfix"></div>

          <% count = 1 %>
          <div class="row">
            <% @student_engagements.each_with_index do |engagement| %>
              <div class="form-group">
                <br>
                <h6 id="tutoring_rate-<%= count %>">Tutor's hourly rate: $<%= get_tutor_rate(engagement) %></h6>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type="number" class="form-control col-sm-3 input-sm" name="payment[amount]"
                      min="0" id="low_balance_hours-<%= count %>" step="any" max="999999" placeholder="Amount" aria-label="Amount" onChange="calculateProduct(this.id);"/>
                  </div>
                </div>
              </div>

              <div>
                <h4 style="display:inline;">
                  hours for <%= engagement.student_name %> X $<%= get_tutor_rate(engagement) %>
                  = $<h3 style="display:inline" id="product-<%= count %>">0</h3>
                </h4>
                <span class="pull-right" style="visibility: hidden;" id="pay-button-<%= count %>">
                  <%= link_to("Pay", {controller: 'pages', action: 'low_balance_payment', engagement: engagement, count: count},
                  class: "btn btn-block payment_submit", remote: true, method: "post") %>
                </span>
              </div>
              <% count = count + 1 %>
            <% end %>
          </div>
    <% end %>


    </div>
  <% end %> <!-- first if statement -->

  <div id="payment_section" style="visibility:hidden;">
    <section class="payment-section one-time-payment col-md-6">
      <%= render "payment_form" %>
    </section>
  </div>

</div>

<script>
  function calculateProduct(id) {
    var currentCount = id.slice(-1);
    var input = document.getElementById("low_balance_hours-"+currentCount);
    var output = document.getElementById("product-"+currentCount);
    var payButton = document.getElementById("pay-button-"+currentCount);
    var tutoring_rate_string = document.getElementById("tutoring_rate-"+currentCount).textContent

    var tutoring_rate = tutoring_rate_string.match(/\d\d.\d\d+$/)[0];
    console.log(tutoring_rate);

    var product = (input.value*tutoring_rate).toFixed(2);

    if(product != 0) {
      payButton.style.visibility = "visible";
    }
    else {
      payButton.style.visibility = "hidden";
    }
    output.textContent = product;
  }
</script>
