<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading clearfix">
          <h3 class="widget-title">Request a Tutor</h3>
        <div class="widget-body">
          <%= form_for(@engagement, url: clients_request_tutor_path) do |f| %>
            <div class="form-group form-group-lg select-option">
              <% if current_user.student_account %>
                <%= f.hidden_field :student_account_id, value: current_user.student_account.id %>
              <% else %>
                  <%= f.label :student_account_id, "Student" %>
                  <%= f.select :student_account_id, options_from_collection_for_select(current_user.client_account.student_accounts, "id", "name", @student_account_id), { include_blank: false }, class: "form-control input-lg" %>
              <% end %>
            </div>

            <div class="form-group form-group-lg select-option">
              <%= f.label :subject_id, "Subject" %>
              <%= f.select :subject_id, options_from_collection_for_select(Subject.all.order(:name), "id", "name"), { prompt: "Choose one of the following" }, class: "form-control input-lg", required: true %>
            </div>

            <div class="text-center">
              <%= f.submit "Submit", class: "btn btn-outline btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
