<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Students</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Subject</th>
                <th>Tutoring Type</th>
                <th>Credits</th>
              </tr>
            </thead>
            <tbody>
              <% @tutor_engagements.each do |engagement| %>
                <tr>
                  <% client = engagement.client %>
                  <td><%= engagement.student_name %></td>
                  <td><%= client.name %></td>
                  <td><%= client.email %></td>
                  <td><%= cleanup_phone_number(client.phone_number) %></td>
                  <td><%= engagement.subject.name %></td>
                  <td><%= engagement.academic_type.humanize %></td>
                  <% if engagement.test_prep? %>
                    <td><%= client.test_prep_credit %></td>
                  <% else %>
                    <td><%= client.academic_credit %></td>
                  <% end %>
                </tr>
                <tr>
                  <td colspan="7" class="text-right">
                    <% pending_suggestion = engagement.suggestions.where(status: "pending").take %>
                    <% if pending_suggestion %>
                      <%= limit_suggestion_description_length("\"#{pending_suggestion.description}\"") %><br/>
                      You have suggested <b><%= pending_suggestion.hours %> hours</b> for <%= engagement.student_name %>. <%= link_to "Edit your suggestion.", edit_tutors_suggestion_path(pending_suggestion.id) %>
                    <% else %>
                      You have no pending suggestions for <%= engagement.student_name %>. <%= link_to "Make a Suggestion.", new_tutors_suggestion_path(id: engagement) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
