<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Students</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Subject</th>
                <th>Academic Type</th>
                <th class="text-center">Balance</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |student| %>
                <tr>
                  <td><%= student.student.name %></td>
                  <td><%= student.name %></td>
                  <td><%= student.student.email %></td>
                  <td><%= student.student.phone_number %></td>
                  <td><%= student.student.subject %></td>
                  <td><%= student.student.academic_type %></td>
                  <td class="text-center"><%= student.balance %> hrs</td>
                  <td class="text-center">
                    <%= link_to new_invoice_path(student) do %>
                      <button type="button" class="btn btn-outline btn-success">Log session</button>
                    <% end %>
                  </td>
                  <% if can_send_email?(student) %>
                    <td class="text-center">
                      <%= link_to new_email_path(student) do %>
                        <button type="button" class="btn btn-outline btn-primary">Send Email</button>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
