<div class="container">
  <div class="section_header section_header_small_screen">
      <h3>Profile</h3>
     <%= link_to edit_tutor_path(@user) do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
  </div>

  <div class="col-wrapper col-md-6 col-sm-6 col-xs-12">
    <div class="module-wrapper">
      <section class="module">
        <div class="module-inner">
          <div class="module-heading">
            User information
          </div>
          <div class="module-content">
            <div class="module-content-inner">
                <div class="col-md-5">
                  <strong>Name</strong>
                </div>
                <div class="col-md-7">
                  <%= @user.name %>
                </div>
                <div class="col-md-5">
                  <strong>Email</strong>
                </div>
                <div class="col-md-7">
                  <%= @user.email %>
                </div>
                <div class="col-md-5">
                  <strong>Phone Number</strong>
                </div>
                <div class="col-md-7">
                  <%= @user.phone_number %>
                </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="col-wrapper col-md-6 col-sm-6 col-xs-12">
    <div class="module-wrapper">
      <section class="module">
        <div class="module-inner">
          <div class="module-heading">
            Tutoring information
          </div>
          <div class="module-content">
            <div class="module-content-inner">
                <div class="col-md-5">
                  <strong>Subject</strong>
                </div>
                <div class="col-md-7">
                  <%= @user.tutor.subject %>
                </div>
                <div class="col-md-5">
                  <strong>Type</strong>
                </div>
                <div class="col-md-7">
                  <%= @user.tutor.activity_type %>
                </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
