<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href = "index.html"><img src ="img/toptutoring3.png" class="navbar-brand img-responsive"></a>

    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <div class="phone">
       Call For a Free Consultation (510) 842-5221
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="index.html">HOME</a></li>
        <li><a href="about-us.html">ABOUT US</a></li>
        <li><a href="services.html">SERVICES</a></li>
        <li><a href="contact.html">CONTACT US</a></li>
        <li><a href="New_SAT_2016.html">BLOG</a></li>
        <% if user_signed_in? %>
        <li>
          <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
        </li>
        <% else %>
        <li>
          <%= link_to('LOGIN', new_user_session_path, class:"active")  %>
        </li>
        <li>
          <%= link_to('SIGN UP', new_user_registration_path) %>
        </li>
        <% end %>

        <!-- <li><a href="sign-in.html">Sign in</a></li>
        <li><a href="sign-up.html">Sign up</a></li> -->
      </ul>

    </div>
  </div>
</div>
<div class="text-center" style="height:400px;">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal col-sm-offset-4"}) do |f| %>

    <div class="form-group">
      <%= f.label :email, class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.email_field :email, autofocus: true, class:"form-control col-sm-3 input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.password_field :password, autocomplete: "off", class:"form-control col-sm-3 input-sm" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>

    <div class="form-group">
      <div class="col-sm-2"></div>
      <%= f.submit "Log in", class:"btn btn-success col-sm-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
