<%= form_for(@user, url: director_user_path(@user)) do |f| %>
  <div class="form-group">
    <%= f.label :academic_credit, "Academic Credit (in hours)" %>
    <%= f.number_field :academic_credit, class: "form-control", step: 0.25, min: 0 %>
  </div>

  <div class="form-group">
    <%= f.label :test_prep_credit, "Test Prep Credit (in hours)" %>
    <%= f.number_field :test_prep_credit, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :academic_rate, "Academic Rate" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
    <%= f.number_field :academic_rate, class: "form-control", step: 0.01, min: 0 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :test_prep_rate, "Test Prep Rate" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :test_prep_rate, class: "form-control", step: 0.01, min: 0 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
  </div>
<% end %>
