<div class="row">
  <div class="col-md-10">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h2 class="widget-title pull-left">
          Student Availability
        </h2>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Day</th>
                <th>From</th>
                <th></th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              <%= form_tag availability_index_path do %>
                <div class="col-md-3">
                  Availability for
                  <select name="info[current_engagement]">
                    <% @engagements.each do |engagement| %>
                      <% student = User.find(engagement.student_id).name %>
                      <% subject_name = Subject.find((engagement.subject).to_i).name %>
                      <option value="<%= engagement.id %>"><%= student %> (Subject: <%= subject_name %>) </option>
                    <% end %>
                  </select>
                </div>
                <% @availabilities.each do |availability| %>
                  <%= fields_for 'availabilities[]', availability do |a| %>
                      <tr>
                          <td>
                            <h5><%= @days[@availabilities.index(availability)] %></h5>
                          </td>

                          <td>
                            <select name="info[<%= @days[@availabilities.index(availability)] %>_from]">
                              <%= 12.times do |hour| %>
                                <option value="<%= hour+1 %>:00"><%= hour+1 %>:00</option>
                                <option value="<%= hour+1 %>:30"><%= hour+1 %>:30</option>
                              <% end %>
                              <option value="N/a">N/a</option>
                            </select>
                          </td>

                          <td width="100px;">
                            <select name="info[<%= @days[@availabilities.index(availability)] %>_from_am_pm]">
                              <option value="am">am</option>
                              <option value="pm">pm</option>
                            </select>
                          </td>

                          <td>
                            <select name="info[<%= @days[@availabilities.index(availability)] %>_to]">
                              <%= 12.times do |hour| %>
                                <option value="<%= hour+1 %>:00"><%= hour+1 %>:00</option>
                                <option value="<%= hour+1 %>:30"><%= hour+1 %>:30</option>
                              <% end %>
                              <option value="N/a">N/a</option>
                            </select>
                          </td>

                          <td width="100px;">
                            <select name="info[<%= @days[@availabilities.index(availability)] %>_to_am_pm]">
                              <option value="am">am</option>
                              <option value="pm">pm</option>
                            </select>
                          </td>
                        </tr>
                  <% end %>
                <% end %>
                  <tr>
                    <td></td><td></td><td></td>
                    <td colspan="2">
                        <%= submit_tag "Submit", style: "color: #888888;" %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h5>*All times are in (PST). Timezones can be updated in your <%= link_to "profile", profile_path %>.</h5>
  </div>
  <div class="col-md-2">
    <div class="widget"style="float: right; display: inline-block;">
      <div class="widget-heading clearfix" style="background-color: #ffffee;">
        Schedules change often, but indicating initial availability will help us match you with a tutor that fits your schedule.
        Scheduling further sessions can be done between you and your tutor.
      </div>
    </div>
  </div>
</div>
