  <%= form_for @payment, :html => { :class => "form-horizontal col-md-9 payment-form" } do |f| %>
    <fieldset class="credit_card">

      <div class="form-group">
        <span class="payment-errors alert-danger col-sm-7"></span>
      </div>

      <div class="form-group">
        <label for="payment[hourly_rate]" class="col-sm-2 control-label col-sm-offset-2">Hourly rate</label>
        <div class="col-sm-5">
          <input type="text" class="form-control col-sm-3 input-sm hourly-rate" 
            data-academic="<%= MultiCurrencyAmount.from_cent(current_user.academic_rate.cents, MultiCurrencyAmount::APP_DEFAULT_CURRENCY) %>" 
            data-test-prep="<%= MultiCurrencyAmount.from_cent(current_user.test_prep_rate.cents, MultiCurrencyAmount::APP_DEFAULT_CURRENCY) %>" 
            name="payment[hourly_rate]" min="1" max="9999" placeholder="Hourly Rate" aria-label="Hourly Rate" disabled/>
        </div>
      </div>

      <div class="form-group">
        <label for="hours" class="col-sm-2 control-label col-sm-offset-2">Hours</label>
        <div class="col-sm-5">
          <input type="number" class="form-control col-sm-3 input-sm hours" name="payment[hours]" 
            min="0.5" max="9999" step="0.5" placeholder="Hours" aria-label="Hours"/>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :amount, class: "col-sm-2 control-label col-sm-offset-2" %>
        <div class="col-sm-5">
          <%= f.text_field :amount, placeholder: "Amount", "aria-label": "Amount", class: "amount" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "col-sm-2 control-label col-sm-offset-2" %>
        <div class="col-sm-5">
          <%= f.select(:description, [['Academic', 'Academic'], ['Test Preparation', 'Test_Prep']], {}, { class: "description"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-3 col-xs-offset-5">
          <%= f.submit "Pay", class: "btn btn-block btn-blue payment-submit" %>
        </div>
      </div>
    </fieldset>

    <%= hidden_field_tag :stripe_publishable_key, ENV['STRIPE_PUBLISHABLE_KEY'] %>
    <%= hidden_field_tag :payer_email, current_user.email %>

  <% end %>
