<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-heading clearfix">
          <h3 class="widget-title pull-left">Payments</h3>
          <ul class="widget-tools pull-right list-inline">
            <li><a href="javascript:;" class="widget-collapse"><i class="ion-chevron-up"></i></a></li>
            <li><a href="javascript:;" class="widget-reload"><i class="ion-refresh"></i></a></li>
            <li><a href="javascript:;" class="widget-remove"><i class="ion-close-round"></i></a></li>
          </ul>
        </div>
        <div class="widget-body">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @payments.each do |payment| %>
                  <tr>
                    <td><%= payment.id %></td>
                    <td><%= payment.created_at %></td>
                    <td><%= payment.amount / 100 %></td>
                    <td class="text-center"><%= payment.description %></td>
                    <td class="text-center"><%= payment.status %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
