<tr id="engagement_<%= engagement.id %>">
  <td>
    <%= engagement_state_label(engagement) %>
    <%= engagement.student_name %>
  </td>
  <td><%= engagement.client.full_name %></td>
  <td><%= phone_number_display(engagement.client) %></td>
  <td><%= engagement.subject.name %></td>
  <td><% actions_for_engagement(engagement, "dash") %></td>
</tr>
