<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Pending Engagements</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Student Name</th>
                <th class="text-center">Client Name</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">Subject</th>
                <th class="text-center">Academic Type</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% @pending_engagements.each do |engagement| %>
                <tr id="engagement_<%= engagement.id %>">
                  <td><%= engagement.student_name %></td>
                  <td><%= engagement.client.full_name %></td>
                  <td><%= link_to_phone_number(engagement.client) %></td>
                  <td class="text-center"><%= engagement.subject.name %></td>
                  <td class="text-center"><%= engagement.academic_type.humanize %></td>
                  <td class="text-center"><%= engagement_state_label(engagement) %></span></td>
                  <td class="text-center">
                    <% actions_for_engagement(engagement) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
