<% if center %>
  <div class="col-md-6 unfloat center-block">
<% else %>
  <div class="col-md-6">
<% end %>
  <div class="widget">
    <div class="widget-heading">
      <h3 class="widget-title pb-10 text-center">Invoice session</h3>
      <p class="widget-hint pull-left">Use this form to log past sessions with your students</p>
    </div>
    <div class="widget-body">
      <%= form_for [:tutors, @invoice], :html => { class: "form-horizontal" } do |f| %>

        <% if current_user.has_role?('contractor') %>
          <div class="form-group">
            <label for="submitter_type" class="col-md-3 col-sm-3 control-label">Submitting As</label>
            <div class="col-md-9 col-sm-9">
              <%= f.select(:submitter_type, options_for_select([['tutor', 'by_tutor'], ['contractor', 'by_contractor']], 'by_tutor'),
                           {}, { required: true}) %>
          </div>
          </div>
        <% else %>
          <%= hidden_field_tag 'invoice[submitter_type]', 'by_tutor' %>
        <% end %>

        <div class="form-group only-for-tutors">
          <label for="student" class="col-md-3 col-sm-3 control-label">Student</label>
          <div class="col-md-9 col-sm-9">
            <%= f.select(:engagement_id, options_for_select(@tutor_engagements.map do |engagement|
              ["#{engagement.student_name} for #{engagement.subject}", engagement.id]
            end, @tutor_engagements.first ? @tutor_engagements.first.id : nil),
            {}, { class: "student", required: true}) %>
        </div>
        </div>

        <div class="form-group">
          <%= f.label :hours, class: "col-md-3 col-sm-3 control-label" %>
          <div class="col-md-9 col-sm-9">
            <%= f.select(:hours, options_for_select([]), {}, class:"hours", required: true, 'aria-label' => 'hours') %>
          </div>
        </div>

        <div class="form-group only-for-tutors">
          <label for="subject" class="col-md-3 col-sm-3 control-label">Main Subject Covered</label>
          <div class="col-md-9 col-sm-9">
            <%= f.text_field :subject, 'aria-label' => 'subject', required: "required" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: "col-md-3 col-sm-3 control-label" %>
          <div class="col-md-9 col-sm-9">
            <%= f.text_area :description, rows: 4, class:"form-control", placeholder: "Description", 'aria-label' => 'description', required: "required" %>
          </div>
        </div>

        <%= f.submit class: "btn btn-outline btn-blue" %>
      <% end %>
    </div>
  </div>
</div>
