<%= form_for [:tutors, @invoice], :html => { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <label for="student" class="col-md-3 col-sm-3 control-label">Student</label>
    <div class="col-md-9 col-sm-9">
      <%= f.select(:engagement_id, grouped_options_for_select(create_select_options_for_invoice), {}, { class: "student" }) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hours, class: "col-md-3 col-sm-3 control-label" %>
    <div class="col-md-9 col-sm-9">
      <%= f.select(:hours, options_for_select([]), {}, class:"hours", required: true, 'aria-label' => 'hours') %>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-md-3 col-sm-3 control-label">Main Subject Covered</label>
    <div class="col-md-9 col-sm-9">
      <input type="text" name="invoice[subject]" class="subject" required="required"/>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-md-3 col-sm-3 control-label" %>
    <div class="col-md-9 col-sm-9">
      <%= f.text_area :description, rows: 4, class:"form-control", placeholder: "Description", 'aria-label' => 'description', required: "required" %>
    </div>
  </div>

  <div class="form-group">
    <label for="suggest" class="col-md-3 col-sm-3 control-label">Suggest Hours</label>
    <div class="col-md-9 col-sm-9">
      <input type="text" name="suggestion[number_of_hours]" class="subject form-control" placeholder="Optional"/>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-outline btn-blue mt-20" %>
<% end %>
