<div class="widget">
  <div class="widget-heading">
    <h3 class="widget-title pb-10 text-center">Invoice session</h3>
    <p class="widget-hint">Use this form to log past sessions with your students</p>
  </div>
  <div class="widget-body">
    <%= form_for [:tutors, @invoice], :html => { class: "form-horizontal" } do |f| %>
      <% if current_user.has_role?("contractor") && current_user.has_role?("tutor") %>
        <div class="form-group select-option">
          <label for="submitter_type" class="col-sm-3 control-label">Submitting As</label>
          <div class="col-sm-9">
            <%= f.select(:submitter_type, options_for_select([["Tutor", "by_tutor"], ["Contractor", "by_contractor"]], "by_tutor"),
                         {}, class: "form-control", required: true) %>
          </div>
        </div>
      <% elsif current_user.has_role?("tutor") %>
        <%= hidden_field_tag "invoice[submitter_type]", "by_tutor" %>
      <% elsif current_user.has_role?("contractor") %>
        <%= hidden_field_tag "invoice[submitter_type]", "by_contractor" %>
      <% end %>

      <% if current_user.has_role?("tutor") %>
        <div class="form-group only-for-tutors">
          <div class="col-sm-offset-3">
            <%= f.radio_button :online, "true", checked: true %>
            <%= f.label :online, "Online Session", value: "true", class: "pl-20" %>
            <br/>
            <%= f.radio_button :online, "false" %>
            <%= f.label :online, "In-person Session", value: "false", class: "pl-20" %>
          </div>
        </div>

        <div class="form-group select-option only-for-tutors">
          <label for="student" class="col-sm-3 control-label">Student</label>
          <div class="col-sm-9">
            <%= f.select(:engagement_id, options_for_select(@tutor_engagements.map do |engagement|
              ["#{engagement.student_name} for #{engagement.subject.name.titlecase}", engagement.id]
            end, @tutor_engagements.first ? @tutor_engagements.first.id : nil),
            {}, class: "form-control invoice_tutor_student", required: true) %>
          </div>
        </div>

        <div class="form-group only-for-tutors">
          <%= f.label :session_date, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :session_date, id: "datetimepicker4", value: @invoice.session_date ? @invoice.session_date.to_formatted_s(:long_ordinal) : Date.current.to_formatted_s(:long_ordinal), class: "form-control" %>
          </div>
        </div>

        <div class="form-group only-for-tutors">
          <label for="subject" class="col-sm-3 control-label">Main Subject Covered</label>
          <div class="col-sm-9">
            <%= f.text_field :subject, "aria-label" => "subject", class: "form-control", required: "required" %>
          </div>
        </div>

        <div class="form-group only-for-tutors">
          <label for="session_rating" class="col-sm-3 control-label">Rate your session</label>
          <div class="col-sm-9">
            <fieldset class="star-rating">
              <%= f.radio_button :session_rating, 5, required: true %><%= label_tag :invoice_session_rating_5 %>
              <%= f.radio_button :session_rating, 4 %><%= label_tag :invoice_session_rating_4 %>
              <%= f.radio_button :session_rating, 3 %><%= label_tag :invoice_session_rating_3 %>
              <%= f.radio_button :session_rating, 2 %><%= label_tag :invoice_session_rating_2 %>
              <%= f.radio_button :session_rating, 1 %><%= label_tag :invoice_session_rating_1 %>
            </fieldset>
          </div>
        </div>
      <% end %>

      <div class="form-group select-option">
        <%= f.label :hours, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.select(:hours, options_for_select([]), {}, class:"form-control invoice_hours", required: true, "aria-label" => "hours") %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 text-right">
          <%= f.label :description, class: "control-label" %>
          <p>Please take note that this description will be seen by your client.</p>
          <a href="#" data-toggle="modal" data-target=".modal-description-example" class="btn btn-sm btn-default">Example Descriptions</a>

          <div tabindex="-1" role="dialog" aria-labelledby="descriptionExample" class="modal fade modal-description-example" style="display: none;">
            <div role="document" class="modal-dialog">
              <div class="modal-content text-center">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                  <h4 id="descriptionExample" class="modal-title">Example Descriptions</h4>
                </div>
                <div class="modal-body text-left">
                  <h5>Good examples</h5>
                  <ul>
                    <li>Complete sentences, subject/content covered, progress indication, and recommendations.
                      <ul>
                        <li>John and I spent our session reviewing his English essay. After our session, John had more confidence with his essay. It would be good to work with John on his writing more regularly.</li>
                        <li>I really enjoyed my session with Emilee. She was cordial, respectful, and willing to learn. We covered finding the area of a parallelogram. She seemed very confused about it when we first started, but by the end of the session, she clearly had a better understanding of the various ideas involved such as height, base, unit squared, etc. With a little bit more tutoring, I'm sure she can excel in math.</li>
                      </ul>
                    </li>
                  </ul>
                  <h5>Poor examples</h5>
                  <ul>
                    <li><p>Incomplete sentences, no indication of student progress and understanding, and no further guidance or recommendation.</p>
                      <ul>
                        <li>Graphs, interval notation, domain, range, end behavior.</li>
                        <li>sat essay writing from 10 to 12</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-9">
          <%= f.text_area :description, rows: 6, class:"form-control", "aria-label" => "description", required: "required" %>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
