<div class="col-md-6 center-block">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title text-center">Invoice session</h3>
        <p class="widget-hint pull-left">Use this form to log past sessions with your students</p>
      </div>
      <div class="widget-body">
        <%= form_for [:tutors, @invoice], :html => { class: "form-horizontal" } do |f| %>

          <div class="form-group">
            <label for="student" class="col-md-3 col-sm-3 control-label">Student</label>
            <div class="col-md-9 col-sm-9">
              <%= f.select(:client_id,
                           options_for_select(@tutor_engagements.map{ |engagement|
                student = engagement.student ? engagement.student : engagement.client
                presenter = StudentPresenter.new(student)
                [engagement.student_name, engagement.client_id, {
                  'data-test-prep' => presenter.test_prep_credit,
                  'data-academic'  => presenter.academic_credit,
                  'data-assigned'  => presenter.academic_type
                }]}, @tutor_engagements.first.try(:client_id)),
              {}, { class: "student", required: true}) %>
          </div>
          </div>

          <div class="form-group">
            <label for="academic_type" class="col-md-3 col-sm-3 control-label">Type of Tutoring</label>
            <div class="col-md-9 col-sm-9">
              <select name="academic_type" class="academic_type">
              </select>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :hours, class: "col-md-3 col-sm-3 control-label" %>
            <div class="col-md-9 col-sm-9">
              <%= f.select(:hours, options_for_select([]), {}, class:"hours", required: true, 'aria-label' => 'hours') %>
            </div>
          </div>

          <div class="form-group">
            <label for="subject" class="col-md-3 col-sm-3 control-label">Main Subject Covered</label>
            <div class="col-md-9 col-sm-9">
              <input type="text" name="invoice[subject]" class="subject" required="required"/>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, class: "col-md-3 col-sm-3 control-label" %>
            <div class="col-md-9 col-sm-9">
              <%= f.text_area :description, rows: 4, class:"form-control", placeholder: "Description", 'aria-label' => 'description', required: "required" %>
            </div>
          </div>

          <%= f.submit class: "btn btn-outline btn-blue" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
