<%= form_for [:tutors, @invoice], :html => { class: "form-horizontal" } do |f| %>
  <h1> this is a test form </h1>
  <div class="form-group">
    <label for="student" class="col-md-3 col-sm-3 control-label">Student</label>
    <div class="col-md-9 col-sm-9">
      <%= f.select(:client_id,
        options_for_select(@tutor_engagements.map do |engagement|
          presenter = StudentPresenter.new(User.find(engagement.student_id))
          [presenter[:name], engagement.client_id]
      end, @tutor_engagements.first.client_id), {}, { class: "student" }) %>
    </div>
  </div>

  <div class="form-group">
    <label for="academic_type" class="col-md-3 col-sm-3 control-label">Type of Tutoring</label>
    <div class="col-md-9 col-sm-9">
      <%= f.collection_select(:engagement_id, @tutor_engagements.all, :id, :academic_type) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hours, class: "col-md-3 col-sm-3 control-label" %>
    <div class="col-md-9 col-sm-9">
      <%= f.select(:hours, options_for_select([]), {}, class:"hours", required: true, 'aria-label' => 'hours') %>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-md-3 col-sm-3 control-label">Main Subject Covered</label>
    <div class="col-md-9 col-sm-9">
      <input type="text" name="invoice[subject]" class="subject" required="required"/>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-md-3 col-sm-3 control-label" %>
    <div class="col-md-9 col-sm-9">
      <%= f.text_area :description, rows: 4, class:"form-control", placeholder: "Description", 'aria-label' => 'description', required: "required" %>
    </div>
  </div>

  <div class="form-group">
    <label for="suggest" class="col-md-3 col-sm-3 control-label">Suggest Hours</label>
    <div class="col-md-9 col-sm-9">
      <input type="text" name="suggestion[number_of_hours]" class="subject form-control" placeholder="Optional"/>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-outline btn-blue mt-20" %>
<% end %>
