<%= form_for [:tutors, @invoice], :html => { class: "form-horizontal" } do |f| %>

  <div class="form-group">
    <label for="student" class="col-md-3 col-sm-3 control-label">Student</label>
    <div class="col-md-9 col-sm-9">
      <%= f.select(:student_id,
        options_for_select(@students.map{ |student| [student.name, student.id, {
          'data-test-prep' => student.client.test_prep_credit,
          'data-academic'  => student.client.academic_credit,
          'data-assigned'  => student.student_engagements.pluck(:academic_type).uniq
        }]}),
        {}, { class: "student", required: true }) %>
    </div>
  </div>

  <div class="form-group">
    <label for="academic_type" class="col-md-3 col-sm-3 control-label">Type of Tutoring</label>
    <div class="col-md-9 col-sm-9">
      <select name="academic_type" class="academic_type">
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hours, class: "col-md-3 col-sm-3 control-label" %>
    <div class="col-md-9 col-sm-9">
      <%= f.select(:hours, options_for_select([]), {}, class:"hours", required: true, 'aria-label' => 'hours') %>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-md-3 col-sm-3 control-label">Main Subject Covered</label>
    <div class="col-md-9 col-sm-9">
      <input type="text" name="invoice[subject]" class="subject" required="required"/>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-md-3 col-sm-3 control-label" %>
    <div class="col-md-9 col-sm-9">
      <%= f.text_area :description, rows: 4, class:"form-control", placeholder: "Description", 'aria-label' => 'description', required: "required" %>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
<% end %>
