<div class="col-md-8">
  <div class="widget">
    <div class="widget-body">
      <% @engagements.each do |engagement| %>
        <% if engagement.active? %>
          Your student
          <b><%= engagement.student_name %></b>
          has been assigned to the tutor
          <b><%= engagement.tutor.name %></b>.
          <%= link_to "View Tutor Profile", "#" %></br>
        <% else %>
          Your student,
          <b><%= engagement.student_name %>,</b>
          has not been assigned to a tutor yet.</br>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render "client_dashboard_extras" %>
</div>
