<div class="col-md-7">
  <div class="widget">
    <div class="widget-heading clearfix">
      <h3 class="widget-title pull-left">Your clients</h3>
    </div>
    <div class="widget-body">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Student Name</th>
              <th class="text-center">Subject</th>
              <th class="text-center">Academic Type</th>
              <th class="text-center">Status</th>
              <th class="text-center">Credit</th>
            </tr>
          </thead>
            <tbody>
              <% @tutor_engagements.each do |engagement|
                representer = EngagementPresenter.new(engagement) %>
                <tr>
                <td><%= representer.student_name %></td>
                <td class="text-center"><%= get_subject_name(representer.subject) %></td>
                <td class="text-center"><%= representer.engagement_academic_type %></td>
                <td class="text-center"><span class="label label-outline label-warning"><%= representer.state %></span></td>
                <td class="text-center"><%= representer.student_credit %> hrs</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
