<%= render "menu" %>
<div class="row">
  <%= render "dwolla_login" if !current_user.has_valid_dwolla? %>
  <%= render "engagements" %>
</div>
<div class="row">
  <% if current_user.has_role? "contractor" %>
    <%= render partial: "invoice_form", locals: { center: false } %>
    <%= render partial: "contractors/timesheet_form", locals: { center: false } %>
  <% else %>
    <%= render partial: "invoice_form", locals: { center: true } %>
  <% end %> </div>
