<%= render "menu" %>
<div class="row">
  <%= render "dwolla_login" if !current_user.has_valid_dwolla? %>
  <%= render "engagements" %>
</div>
<div class="row">
  <% if current_user.roles.pluck(:name).include?("contractor") %>
    <%= render "contractors/timesheet_form" %>
    <%= render partial: "invoice_form", locals: { center: false } %>
  <% else %>
    <%= render partial: "invoice_form", locals: { center: true } %>
  <% end %> </div>
