<%= render "menu" %>
<% unless current_user.enabled? %>
  <%= render "users/set_up_account" %>
<% else %>
  <div class="row">
    <%= render "dwolla_login" if !current_user.has_valid_dwolla? %>
    <%= render "students" %>
  </div>

    <% if @low_balance_engagements %>
      <div class="row">
        <%= render "tutors/suggestions/suggestion_dashboard_form" %>
        <%= render partial: "invoice_form", locals: { center: false } %>
      </div>
      <% if current_user.roles.pluck(:name).include?("contractor") %>
        <div class="row">
          <%= render partial: "contractors/timesheet_form", locals: { center: true } %>
        </div>
      <% end %>
    <% else %>
      <div class="row">
      <% if current_user.roles.pluck(:name).include?("contractor") %>
        <%= render partial: "invoice_form", locals: { center: false } %>
        <%= render partial: "contractors/timesheet_form", locals: { center: false } %>
      <% else %>
        <%= render partial: "invoice_form", locals: { center: true } %>
      <% end %>
      </div>
    <% end %>
  <% end %>
