<%= render "menu" %>
<% unless current_user.enabled? %>
  <%= render "users/set_up_account" %>
<% else %>
  <div class="row">
    <%= render "dwolla_login" if !current_user.has_valid_dwolla? %>
    <%= render "students" %>
  </div>

  <div class="row">
    <% if current_user.roles.pluck(:name).include?("employee") %>
      <%= render "employees/timesheet_form" %>
      <%= render partial: "invoice_form", locals: { center: false } %>
    <% else %>
      <%= render partial: "invoice_form", locals: { center: true } %>
    <% end %>
  </div>
<% end %>
