<h1>Countries</h1>

<div class="row m-30">
  <div class="col-xs-12">
    <div class="widget p-20">
      <div class="widget-heading p-0">
        <h1 class="widget-title pb-10">Add a Country</h1>
        <p class="widget-hint">Please use this form to add to the list of serviced countries</p>
      </div>
      <div class="widget-body">
        <%= render "country_form" %>
      </div>
    </div>
  </div>
</div>

<div class="row m-30">
  <div class="col-xs-12">
    <div class="widget p-20">
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0 table-striped table-hover">
            <thead>
              <tr>
                <th class="col-xs-4">Name</th>
                <th class="col-xs-4">Code</th>
                <th class="col-xs-4">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @countries.each do |country| %>
                <tr>
                  <td><%= country.name %></td>
                  <td><%= country.code %></td>
                  <td>
                    <%= link_to "Edit", edit_country_path(country), class: "btn btn-primary" %>
                    <%= link_to "Destroy", country_path(country), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this country?" } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
