<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-heading clearfix">
          <h3 class="widget-title pull-left">Payment Information</h3>
        </div>
        <div class="widget-body">
          <div class="table-responsive">
            <% if current_user.stripe_uid.present? %>
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Payout method</th>
                    <th>Brand</th>
                    <th>Expiry Year</th>
                    <th>Last4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @card.object %></td>
                    <td><%= @card.brand %></td>
                    <td><%= @card.exp_year %></td>
                    <td><%= @card.last4 %></td>
                  </tr>
                </tbody>
              </table>
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Currency</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @balance.available.first.currency&.upcase %></td>
                    <td><%= @balance.available.first.amount %></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
