<% page_title "Top Tutoring | #{@city.name}" %>

<% if action_name == "preview" %>
  <%= link_to "Return to Admin City Index", admin_cities_path %>
<% end %>
<section class="page-title page-title-2 image-bg overlay parallax">
  <div class="background-image-holder">
    <%= image_tag "www/notebook.jpg", class: "background-image" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="uppercase mb8">
          <%= @city.name %> Tutoring
        </h2>
        <h4>
          <%= t("www.cities.sub_title", location: "#{@city.name}, #{@city.state.upcase}") %><br />
          <%= phone_number_display @city, styles: "lead" %>
        </h4>
      </div>
      <div class="col-md-6 text-right">
        <ol class="breadcrumb breadcrumb-2">
          <li>
            <%= link_to "About", "#about", onclick: "smoothScroll(event, this);" %>
          </li>
          <li>
            <%= link_to "How It Works", "#how_it_works", onclick: "smoothScroll(event, this);" %>
          </li>
          <li>
            <%= link_to "Contact", "#contact", onclick: "smoothScroll(event, this);" %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40"><%= t("www.cities.about.title") %></h3>
        <p class="lead"><%= t("www.cities.about.content", city: @city.name) %></p>
        <p class="lead"><%= t("www.cities.about.content2", city: @city.name) %></p>
      </div>
    </div>
  </div>
</section>

<section class="page-title page-title-3 bg-secondary" id="how_it_works">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="uppercase mb0"><%= t("www.cities.how_it_works.title") %></h3>
      </div>
    </div>
  </div>
</section>

<section class="pb64 pb-xs-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-2 filled text-center">
          <div class="text-center">
            <i class="ti ti-user icon-sm"></i>
            <h5 class="uppercase"><%= t("www.cities.how_it_works.match.title") %></h5>
          </div>
          <p><%= t("www.cities.how_it_works.match.content", city: @city.name) %></p>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 filled text-center">
          <div class="text-center">
            <i class="ti ti-bookmark-alt icon-sm"></i>
            <h5 class="uppercase"><%= t("www.cities.how_it_works.personalize.title") %></h5>
          </div>
          <p><%= t("www.cities.how_it_works.personalize.content", city: @city.name) %></p>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 filled text-center">
          <div class="text-center">
            <i class="ti ti-star icon-sm"></i>
            <h5 class="uppercase"><%= t("www.cities.how_it_works.success.title") %></h5>
          </div>
          <p><%= t("www.cities.how_it_works.success.content") %></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
        <h3 class="mb64 mb-xs-40 uppercase">People 
          <i class="ti-heart text-danger"></i> top tutoring</h3>
        <div id="city_carousel" class="testimonials text-slider slider-arrow-controls"></div>
        <%= javascript_pack_tag "city_carousel" %>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h6 class="uppercase"><%= t("www.cities.subjects.title") %></h6>
        <hr class="mb120 mb-xs-24">
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h1 class="thin"><%= t("www.cities.subjects.sub_title") %></h1>
      </div>
    </div>

    <div class="row mb120 mb-xs-24">
      <div class="col-md-6 col-sm-8">
        <p class="lead"><%= raw t("www.cities.subjects.content", phone_link: phone_number_display(@city)) %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-0 col-xs-5 col-xs-offset-1 mb-xs-24">
        <i class="icon mb32 ti ti-book"></i>
        <h6 class="uppercase">Test Prep</h6>
        <ul>
          <li>SAT</li>
          <li>ACT</li>
          <li>AP Test Prep</li>
          <li>SAT II Test Prep</li>
          <li> </li>
          <li> </li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-0 col-xs-5 col-xs-offset-1 mb-xs-24">
        <i class="icon mb32 ti ti-ruler-alt-2"></i>
        <h6 class="uppercase">math</h6>
        <ul>
          <li>Calculus</li>
          <li>Statistics</li>
          <li>Trignonometry</li>
          <li>Geometry</li>
          <li>Algebra</li>
          <li>Algebra 2</li><li> </li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-0 col-xs-5 col-xs-offset-1 mb-xs-24">
        <i class="icon mb32 ti ti-paint-bucket"></i>
        <h6 class="uppercase">Science</h6>
        <ul>
          <li>Chemistry</li>
          <li>Organic Chemistry</li>
          <li>Biology</li>
          <li>Biochemistry</li>
          <li>Anatomy</li>
          <li>Physiology</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-0 col-xs-5 col-xs-offset-1 mb-xs-24">
        <i class="icon mb32 ti ti-comments"></i>
        <h6 class="uppercase">Language</h6>
        <ul>
          <li>English</li>
          <li>Spanish</li>
          <li>German</li>
          <li>French</li>
          <li>Chinese</li><li>German</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-4 col-sm-5 mb-xs-24">
        <h3><%= @city.name %></h3>
        <p>
        <%= @city.description %>
        </p>
      </div>
      <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
        <%= image_tag @city.picture.url, class: "cast-shadow" %>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase"><%= t("app.contact_us") %></h4>
        <p><%= t("www.contact.content") %></p>
        <hr>
        <p>E: <%= ENV.fetch("MAILER_SENDER") %>
        <br>P: <%= phone_number_display @city %></p>
        <hr>
        <p><%= @city.address %><br><%= @city.name_state_zip %>&nbsp; &nbsp; &nbsp;&nbsp;<br>
        </p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <%= render "www/pages/contact_form" %>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb0 inline-block p32 p0-xs"><%= t("www.signup.header") %>&nbsp;</h3>
        <%= link_to "sign up", sign_up_url(subdomain: "app"), class: "btn btn-lg btn-white mb8 mt-xs-24" %>
      </div>
    </div>
  </div>
</section>
