<div class="table-responsive">
  <table class="table mb-0 table-striped table-hover">
    <thead>
      <tr>
        <th class="col-lg-1 col-sm-1">Timesheet ID</th>
        <th class="col-lg-2 col-sm-1">Submitted By</th>
        <th class="col-lg-1 col-sm-1">Date Submitted</th>
        <th class="col-lg-1 col-sm-1">Total Hours</th>
        <th class="text-center">Description</th>
        <th class="col-lg-1 col-sm-1">Total Pay</th>
        <th class="col-lg-1 col-sm-1">Status</th>
        <th class="col-lg-2 col-sm-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% timesheets.order(:submitter_id).each do |timesheet| %>
        <tr>
          <td><%= timesheet.id %></td>
          <td><%= timesheet.submitter.name %></td>
          <td><%= l(timesheet.updated_at, format: :date) %></td>
          <td><%= timesheet.hours %></td>
          <td><%= description = timesheet.description %></td>
          <td><%= number_to_currency(timesheet.submitter_pay) %></td>
          <td><%= timesheet.status %></td>
          <td>
            <%= invoice_actions(timesheet) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
