<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Pending Timesheets</h3>
        <% unless @timesheets.pending.empty? %>
          <% confirm_message = "This will pay all pending timesheets for a total of #{number_to_currency(@total_for_all)}. Are you sure?" %>
          <% link_title = "Pay All Timesheets: #{number_to_currency(@total_for_all)}" %>
          <% link_classes = "pull-right btn btn-sm btn-outline btn-primary" %>
          <%= link_to link_title, admin_payments_pay_all_index_path(pay_type: 'timesheet'), method: :post, class: link_classes, data: { disable_with: "Submitting", confirm: confirm_message } %>
        <% end %>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0 table-striped table-hover">
            <thead>
              <tr>
                <th class="col-lg-1 col-sm-1">Submitted By</th>
                <th class="col-lg-1 col-sm-1">Date Submitted</th>
                <th class="col-lg-1 col-sm-1">Date of Work</th>
                <th class="col-lg-1 col-sm-1">Total Hours</th>
                <th class="text-center">Description</th>
                <th class="col-lg-1 col-sm-1">Total Pay</th>
                <th class="col-lg-2 col-sm-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @timesheets.where(status: "pending").order(:user_id).each do |t| %>
                <tr>
                  <td><%= name = User.find(t.user_id).name %></td>
                  <td><%= t.updated_at.strftime("%-m/%-e/%y") %></td>
                  <td><%= t.date.strftime("%-m/%-e/%y") %></td>
                  <td><%= t.hours %></td>
                  <td><%= description = t.description %></td>
                  <td><%= number_to_currency(t.amount) %></td>
                  <td>
                    <% payment_params = {payee_id: t.user_id, payer_id: current_user.id, description: "#{name} for: #{description}"} %>
                    <%= link_to "Pay", admin_payments_path(timesheet: t.id, payment: payment_params, amount: t.amount), method: :post, data: { disable_with: "Submitting" }, class: "btn btn-sm btn-outline btn-primary" %>
                    <%= link_to "Deny", admin_timesheet_path(t, timesheet: {status: 'denied'}), method: :patch, class: "btn btn-sm btn-outline btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Processed Timesheets</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0 table-striped table-hover">
            <thead>
              <tr>
                <th class="col-lg-2 col-sm-2">Submitted By</th>
                <th class="col-lg-1 col-sm-1">Last updated</th>
                <th class="col-lg-1 col-sm-1">Date of Work</th>
                <th class="col-lg-1 col-sm-1">Total Hours</th>
                <th class="text-center">Description</th>
                <th class="col-lg-1 col-sm-1">Status</th>
                <th class="col-lg-2 col-sm-2"></th>
              </tr>
            </thead>
            <tbody>
              <% @timesheets.where("status != 'pending'").order(:status).each do |t| %>
                <tr>
                  <td><%= User.find(t.user_id).name %></td>
                  <td><%= t.updated_at.strftime("%-m/%-e/%y") %></td>
                  <td><%= t.date.strftime("%-m/%-e/%y") %></td>
                  <td><%= t.minutes / 60.0 %></td>
                  <td><%= t.description %></td>
                  <td><%= t.status %></td>
                  <td>
                    <% if t.status != "paid" %>
                      <%= link_to "Move to pending", admin_timesheet_path(t, timesheet: {status: 'pending'}), method: :patch, class: "btn btn-sm btn-outline btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
