<div tab-index="-1" role="dialog" class="modal fade" id="user_info_modal_<%= user.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><%= user.full_name %></h5>
      </div>
      <div class="modal-body">
        <div class="row mb-10">
          <div class="col-xs-4">User Id</div><div class="col-xs-8"><%= user.id %></div>
        </div>
        <div class="row mb-10">
          <div class="col-xs-4">User Email</div><div class="col-xs-8"><%= user.email %></div>
        </div>
        <div class="row mb-10">
          <div class="col-xs-4">User Phone Number</div><div class="col-xs-8"><%= phone_number_display(user) %></div>
        </div>
        <div class="row mb-10">
          <div class="col-xs-4">Date Added</div><div class="col-xs-8"><%= l(user.created_at, format: :date) %></div>
        </div>
        <div class="row mb-10">
          <div class="col-xs-4">User Zip</div><div class="col-xs-8"><%= user.zip || "Unavailable" %></div>
        </div>
        <% if user.has_role?("client") %>
          <div class="row mb-10">
            <div class="col-xs-4">User Review Source</div><div class="col-xs-8"><%= client_review_source(user.client_account) %></div>
          </div>
          <div class="row mb-10">
            <div class="col-xs-4">User Review Link</div><div class="col-xs-8"><%= client_review_link(user.client_account) %></div>
          </div>
        <% end %>
        <div class="row mb-10">
          <div class="col-xs-4">Access State</div><div class="col-xs-8"><%= user.access_state %></div>
        </div>
        <div class="row mb-10">
          <div class="col-xs-4">Archive Status</div><div class="col-xs-8"><%= user.archived %></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
