<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center"><%= @user_role.capitalize %></h3>
      </div>
      <div class="widget-body">
        <%= form_for(@user, url: admin_user_path(@user)) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number %>
            <%= f.telephone_field :phone_number, class: "form-control" %>
          </div>

          <div class="text-center form-group">
            <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @user_role == "client" %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="widget">
        <div class="widget-heading">
          <h3 class="widget-title text-center">Rates and Balance Adjustment</h3>
        </div>
        <div class="widget-body">
          <%= render partial: 'clients/edit_rates_and_balance_form', locals: { url: admin_user_path(@user) } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="widget">
        <div class="widget-heading">
          <h3 class="widget-title text-center">Student Account</h3>
        </div>
        <div class="widget-body">
          <table class="col-xs-12">
            <tr>
              <th class="col-xs-6">Name</th>
              <th>Action</th>
            </tr>
            <% @user.student_accounts.find_each do |account| %>
              <tr>
                <td class="col-xs-6"><%= account.name %></td>
                <td>
                  <%= link_to "Remove Account", admin_student_account_path(id: account.id), method: :delete, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </table>
          <div class="clearfix"></div>
          <div class="mt-30">
            <h3 class="widget-title text-center">Add a Student Account</h3>
            <%= form_tag admin_student_accounts_path do %>
              <div class="form-group">
                <%= label_tag :name %>
                <%= text_field_tag :name, nil, required: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label_tag :create_user_account, class: "pl-20" do %>
                  Create a user account for this student
                  <%= check_box_tag :create_user_account, 'yes', true %>
                <% end %>
              </div>

              <%= fields_for User.new do |user_field| %>
                <div class="form-group">
                  <%= user_field.email_field :email, class:"form-control", id: "student_user_email", placeholder: "Email (ony required if creating account for student)" %>
                </div>
              <% end %>

              <%= fields_for Engagement.new do |engagement_field| %>
                <div class="form-group">
                  <%= engagement_field.select :subject_id, options_from_collection_for_select(Subject.all.order(:name), "id", "name"), { prompt: "Subject" } %>
                </div>
              <% end %>

              <%= hidden_field_tag :client_id, @user.id %>
              <%= submit_tag "Add", class: "center-block btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
