<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Student</h3>
      </div>
      <div class="widget-body">
        <%= form_for(@user, url: admin_user_path(@user)) do |f| %>
          <%= f.fields_for :student do |student_field| %>
            <div class="form-group">
              <%= student_field.label :student_name %>
              <%= student_field.text_field :name, autofocus: true, class:"form-control", disabled: true %>
            </div>

            <div class="form-group">
              <%= student_field.label :subject %>
              <%= student_field.text_field :subject, autofocus: true, class:"form-control" %>
            </div>

            <div class="form-group">
              <%= student_field.label :academic_type %>
              <%= student_field.text_field :academic_type, autofocus: true, class:"form-control" %>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :balance %>
            <%= f.text_field :balance, class:"form-control", min: "0"%>
          </div>

          <div class="form-group">
            <label for="user_balance">Hourly Balance</label>
            <input class="form-control" type="text" value="<%= @user.decorate.hourly_balance %>" name="hourly_balance" id="user_hourly_balance">
          </div>

          <input class="form-control" type="hidden" value="<%= @user.assignment.hourly_rate %>" name="hourly_rate" id="user_hourly_rate", min="0">

          <div class="text-center">
            <button type="submit" class="btn btn-outline btn-success">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
