<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Student</h3>
      </div>
      <div class="widget-body">
        <%= form_for(@user, url: admin_user_path(@user)) do |f| %>
          <div class="form-group">
            <%= f.label :student_name %>
            <%= f.text_field :name, autofocus: true, class:"form-control" %>
          </div>
          <%= f.fields_for :student_info do |student_field| %>
            <div class="form-group">
              <%= student_field.label :subject %>
              <%= student_field.text_field :subject, autofocus: true, class:"form-control" %>
            </div>

            <div class="form-group">
              <%= student_field.label :academic_type %>
              <%= student_field.text_field :academic_type, autofocus: true, class:"form-control" %>
            </div>
          <% end %>

          <div class="text-center">
            <button type="submit" class="btn btn-outline btn-blue">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
