<div class="row">
  <div class="col-md-12">
    <div class="widget">

      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Users</h3>
      </div>

      <div class="widget-body">
        <div class="table-responsive">
          <table id="admin-user-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th class="col-xs-2">Name</th>
                  <th>Email</th>
                  <th>Date Added</th>
                  <th>Access State</th>
                  <th>Roles</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><a href="javascript:;"><%= user.id %></a></td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <h5 class="media-heading"><%= user.full_name %></h5>
                          <p class="text-muted mb-0"><%= user.phone_number %></p>
                        </div>
                      </div>
                    </td>
                    <td><%= user.email.downcase %></td>
                    <td><%= l(user.created_at, format: :date)%></td>
                    <td><%= user.access_state %></td>
                    <td>
                      <% user.roles.distinct.each do |role| %>
                        <% if role.name == 'director' %>
                          <span class="label label-outline label-purple">Director</span>
                        <% end %>
                        <% if role.name == 'client' %>
                          <span class="label label-outline label-success">Client</span>
                        <% end %>
                        <% if role.name == 'tutor' %>
                          <span class="label label-outline label-primary">Tutor</span>
                        <% end %>
                        <% if role.name == 'student' %>
                          <span class="label label-outline label-danger">Student</span>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_admin_user_path(user), data: { toggle: "tooltip", placement: "top", "original-title" => "Edit user info" }, class: "mr-15 fs-24" do %>
                        <i class="icon ion-edit"></i>
                      <% end %>
                      <%= link_to admin_user_path(user), method: :delete, data: { toggle: "tooltip", placement: "top", "original-title" => "Remove/archive user from list", confirm: "This will permanently remove the user from the databse. Are you sure?" }, class: "mr-15 fs-24" do %>
                        <i class="icon ion-android-archive"></i>
                      <% end %>
                      <%= render 'shared/masquerade_start_button', user: user %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
