<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Students</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Subject</th>
                <th>Academic Type</th>
                <th class="text-center">Balance</th>
                <th class="text-center">Tutor</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.client.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.phone_number %></td>
                  <td><%= user.student_info.subject %></td>
                  <td><%= user.student_info.academic_type %></td>
                  <td class="text-center"><%= client_balance(user.client) %></td>
                  <td class="text-center"><%= user.assignment.tutor.name %></td>
                  <td class="text-center">
                    <%= link_to edit_admin_user_path(user) do %>
                      <button type="button" class="btn btn-outline btn-success">Edit</button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
