<nav class="nav-container">
  <div class="nav-bar">
    <div class="module left">
      <%= link_to root_url(subdomain: nil), class: "page-link logo-dark" do%>
        <img src="<%= image_url("topTutoringFinal.png") %>" class="logo">
      <% end %>
      <span class="phone-number">
        (510) 842-5221
      </span>
    </div>

    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
    </div>
    <div class="module-group right">
      <div class="module left">
        <ul class="menu">
          <li>
            <%= link_to "How It Works", root_url(subdomain: nil) + "how_it_works", class: "page-link logo-dark" %>
          </li>
          <li>
            <%= link_to "About Us", root_url(subdomain: nil) + "about_us", class: "page-link logo-dark" %>
          </li>
          <li>
            <%= link_to "Our Tutors", root_url(subdomain: nil) + "top-tutors", class: "page-link logo-dark" %>
          </li>
          <li>
            <%= link_to "Blog", root_url(subdomain: nil) + "blog", class: "page-link logo-dark" %>
          </li>
          <li>
            <%= link_to "Contact", root_url(subdomain: nil) + "contact", class: "page-link logo-dark" %>
          </li>
          <li>
            <%= link_to "Sign in", sign_in_url(subdomain: "app"), class: "page-link logo-dark" %>
          </li>
          <li>
            <%= link_to "Sign up", client_sign_up_url(subdomain: "app"), class: "page-link logo-dark" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
