<% if current_user.enabled? %>
  <aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
    <div class="media user">
      <div class="media-left">
        <%= link_to profile_path, class: 'text-base' do %>
          <div id="esp-user-profile" data-percent="66" class="menu_user_widget easy-pie-chart"><i class="icon ion-ios-person avatar img-circle"></i></div>
        <% end %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading fs-16"><%= current_user.name %></h4>
        <% if current_user.has_role?("client") %>
          <div class="dropdown">
            <a id="dropdown-status" href="#" role="button" aria-haspopup="true" class="dropdown-toggle">
              <%= client_credit(current_user) %>
            </a>
            <ul aria-labelledby="dropdown-status" class="dropdown-menu animated fadeInUp">
            </ul>
          </div>
        <% elsif current_user.has_role?("tutor") %>
          <div class="dropdown">
            <a id="dropdown-status" href="#" role="button" aria-haspopup="true" class="dropdown-toggle">
              <%= tutor_outstanding_balance(current_user) %>
            </a>
            <ul aria-labelledby="dropdown-status" class="dropdown-menu animated fadeInUp">
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <ul class="list-unstyled navigation mb-0">
      <%= menu_link(dashboard_path, "Dashboard", "ion-ios-home-outline bg-purple") %>
      <% if current_user.has_role?("client") %>
        <%= render "application/menu_links/client" %>
      <% elsif current_user.has_role?("student") %>
        <%= render "application/menu_links/student" %>
      <% elsif current_user.has_role?("admin") %>
        <%= render "application/menu_links/admin" %>
      <% elsif current_user.has_role?("director") %>
        <%= render "application/menu_links/director" %>
      <% elsif current_user.has_role?("tutor") %>
        <%= render "application/menu_links/tutor" %>
      <% end %>

      <% if current_user.has_role?("contractor") %>
        <%= menu_link(timesheets_path, "Timesheets", "icon ion-cash bg-success") %>
      <% end %>
    </ul>
  </aside>
<% end %>
