<% content_for(:title) { "New Sign Up" } %>

<%= render layout: "layouts/mailers/standard" do %>
  <p>Hello,</p>
  <br/>
  <p>We are writing to let you know that <%= @new_user.full_name %> has finished the sign up process and is waiting to be assigned a tutor. <%= @new_user.full_name %> may be contacted at <%= phone_number_display @new_user %> or by email: <%= @new_user.email %>.</p>
  <br/>
  <p><strong>Email:</strong> <%= @new_user.email %></p>
  <p><strong>Phone:</strong> <%= phone_number_display @new_user %></p>
  <p><strong>Subject:</strong> <%= @new_user.signup.subject.name %></p>
  <p><strong>Comments:</strong> <%= @new_user.signup.comments %></p>
  <br/>
  <p>Regards,</p>
  <p>Top Tutoring</p>
<% end %>
