<%= tag.div id: "card_parameters", class: div_class do %>
  <div>
    <%= text_field_tag :card_holder_name, "", placeholder: "Cardholder name", class: "form-control input-lg", required: true %>
  </div>

  <div>
    <%= text_field_tag :card_address, "", placeholder: "Billing address", class: "form-control input-lg mt-20", required: true %>
  </div>

  <div>
    <%= text_field_tag :card_unit_number, "", placeholder: "Apt or Unit #", class: "form-control input-lg mt-20" %>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= text_field_tag :card_city, "", placeholder: "City", class: "form-control input-lg mt-20", required: true %>
    </div>

    <div class="col-xs-4">
      <%= render "clients/payments/card_state_options" %>
    </div>

    <div class="col-xs-4">
      <%= text_field_tag :card_zip_code, "", placeholder: "Zip Code", class: "form-control input-lg mt-20", required: true %>
    </div>
  </div>

  <div id="card-element" class="form-control input-lg mt-20"></div>
  <h4 id="card-error" class="fw-300 text-right"></h4>

  <% if save_card_option %>
    <div class="form-group text-right">
      <%= label_tag :save_card_information, class: "pl-20" do %>
        <%= check_box_tag :save_card_information, "true", false %>
        Save this card for future use
      <% end %>
    </div> 
  <% end %>
<% end %>

<%= content_tag :div, nil, id: "stripe_publishable_key", data: { key: ENV['STRIPE_PUBLISHABLE_KEY'] } %>
<%= javascript_include_tag STRIPE_JS_HOST %>
