<%= form_for [:clients, Payment.new], html: { class: "stripe_form" } do |f| %>
  <!--  Credit Card Inputs -->
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title">Purchase Hours</h3>
      </div>
      <div class="widget-body">
        <div class="widget-content">
          <% if @hours_type_options.many? %>
            <div class="form-group select-option">
                <%= f.label :hours_type, "What hours would you like to purchase?" %>
                <%= f.select :hours_type, options_for_select(@hours_type_options), { include_blank: false}, class: "form-control input-lg" %>
            </div>
          <% else %>
            <%= f.hidden_field :hours_type, value: @hours_type_options.first[1] %>
          <% end %>

          <div class="row">
            <div class="col-xs-6 text-right">
              <h4 class="fw-300 mb-20">Your Rate</h4>
            </div>
            <div class="col-xs-6">
              <%= content_tag :h4, nil, class: "fw-300",
                data: { online_academic: current_user.online_academic_rate.to_s, online_test: current_user.online_test_prep_rate.to_s,
                        in_person_academic: current_user.in_person_academic_rate.to_s, in_person_test: current_user.in_person_test_prep_rate.to_s },
                        id: "hourly-rate-display" %>
          </div>
          </div>

          <div class="row">
            <div class="col-xs-6 text-right">
              <h4 class="mb-20">
                <%= f.label :hours_purchased, "Hours", class: "fw-300 m-0" %>
              </h4>
            </div>
            <div class="col-xs-6">
              <%= f.number_field :hours_purchased, value: 1, min: 1, step: "0.25", class: "form-control input-lg" %>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-xs-6 text-right">
              <h4 class="mb-20 fw-300">Your Total</h4>
            </div>
            <div id="payment-total" class="col-xs-6">
              <h4 id="payment-total-display" class="mb-20 fw-400">$0.00</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 text-right">
              <h4 id="hour-type" class="mb-20 fw-300"></h4>
            </div>

            <div class="col-xs-2">
              <%= content_tag :h4, nil, class: "mb-20 fw-300 text-left",
                data: { online_academic: current_user.online_academic_credit, online_test: current_user.online_test_prep_credit,
                        in_person_academic: current_user.in_person_academic_credit, in_person_test: current_user.in_person_test_prep_credit },
                        id: "current-hours" %>
          </div>

          <div class="col-xs-1">
            <h4 class="mb-20 fw-300 text-center">→</h4>
          </div>

          <div class="col-xs-2">
            <h4 id="after-purchase-hours" class="mb-20 fw-300 text-right"></h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title">Credit Card Information</h3>
      </div>
      <div class="widget-body">
        <div class="widget-content">
          <% if @account %>
            <div class="form-group">
              <%= hidden_field_tag :use_existing_card, true %>
              <h4 class="fw-300 text-center">Using <%= @account.default_card_display %></h4>
            </div>
          <% else %>
            <%= render "card_parameters" %>
          <% end %>
          <div class="row m-0">
            <!-- button disabling is handled by javascript because Stripe validation requires javascript -->
            <%= submit_tag "Purchase Hours", class: "pull-right btn btn-primary", data: { disable_with: false } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
