<%= render "payment_form" %>

<%= render "layouts/page_widget", title: "Purchases" do %>
  <div class="table-responsive">
    <table id="payment-table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th class="text-center">Description</th>
        </tr>
      </thead>
      <tbody>
        <% if @payments.present? %>
          <% @payments.each do |payment| %>
            <tr>
              <td><%= l(payment.created_at, format: :date) %></td>
              <td><%= number_to_currency(payment.amount) %></td>
              <td class="text-center"><%= payment.description %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3" class="text-center"> No payments to display </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @payments.any? %>
  <%= render "layouts/data_tables_dependencies", table_id: "payment-table", order: "desc" %>
<% end %>
