<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%#
      Configure default and controller-, and view-specific titles in
      config/locales/en.yml. For more see:
      https://github.com/calebthompson/title#usage
    %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Top Tutoring</title>
    <!-- Google Tag Manager -->
    <% if (ENV["DWOLLA_ENVIRONMENT"] == "production") && Rails.env.production? %>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PH4VQ5Z');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= stylesheet_link_tag :application, media: "all" %>
    <!-- Sigma Template Plugins -->
    <%= stylesheet_link_tag '/plugins/Ionicons/css/ionicons.min.css' %>
    <%= stylesheet_link_tag '/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %>
    <%= stylesheet_link_tag '/plugins/animo.js/animate-animo.min.css' %>
    <%= stylesheet_link_tag '/plugins/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %>
    <%= stylesheet_link_tag '/plugins/jquery.steps/demo/css/jquery.steps.css' %>
    <%= stylesheet_link_tag "/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %>

    <%= yield :head %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <% if (ENV["DWOLLA_ENVIRONMENT"] == "production") && Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4VQ5Z"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= render "user_header" %>

    <div class="main-container">
      <% if current_user.enabled? %>
        <%= render "menu" %>
        <div class="page-container">
          <div class="page-content container-fluid">
            <div id="top-tutoring-flashes">
              <%= render "flashes" %>
            </div>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <div class="p-20">
          <%= render "flashes" %>
          <%= yield %>
        </div>
      <% end %>
    </div>

    <%= javascript_include_tag :application %>
    <!-- JS required for Sigma Styles -->
    <!-- Malihu Scrollbar-->
    <%= javascript_include_tag '/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %>
    <!-- Animo.js-->
    <%= javascript_include_tag '/plugins/animo.js/animo.min.js' %>
    <!-- Bootstrap Progressbar-->
    <%= javascript_include_tag '/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js' %>
    <!-- jQuery Easy Pie Chart-->
    <%= javascript_include_tag '/plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %>
    <!-- jQuery Steps-->
    <%= javascript_include_tag '/plugins/jquery.steps/build/jquery.steps.min.js' %>
    <!-- Core JS-->
    <%= javascript_include_tag '/build/js/first-layout/app.js' %>
    <%= javascript_include_tag '/build/js/first-layout/demo.js' %>
    <%= javascript_include_tag '/build/js/page-content/forms/forms-wizard.js' %>
    <%= javascript_include_tag '/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %>

    <%= render "misc_javascript" %>
    <%= render "css_overrides" %>

  </body>
</html>
