<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%#
      Configure default and controller-, and view-specific titles in
      config/locales/en.yml. For more see:
      https://github.com/calebthompson/title#usage
    %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Toptutoring</title>
    <%= render "css_import" %>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
<!--     <%= favicon_link_tag 'favicon.png' %> -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWRWF9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render "flashes" %>
    <%= render "user_header" %>

    <div class="main-container">
      <%= render "menu" %>
      <div class="page-container">
        <div class="page-content container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "javascript" %>
    <%= render "css_overrides" %>

  </body>
</html>
