<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%#
      Configure default and controller-, and view-specific titles in
      config/locales/en.yml. For more see:
      https://github.com/calebthompson/title#usage
    %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Top Tutoring</title>
    <!-- Google Tag Manager -->
    <% if (ENV["DWOLLA_ENVIRONMENT"] == "production") && Rails.env.production? %>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PH4VQ5Z');</script>
      <!-- End Google Tag Manager -->
    <% end %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!-- Itim-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <!-- Dancing Script -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
    <!-- JQuery -->
    <%= javascript_include_tag '/plugins/jquery/dist/jquery.min.js' %>
    <!-- Bootstrap CSS-->
    <%= stylesheet_link_tag '/plugins/bootstrap/dist/css/bootstrap.min.css' %>
    <!-- Ionicons-->
    <%= stylesheet_link_tag '/plugins/Ionicons/css/ionicons.min.css' %>
    <!-- Font Awesome-->
    <%= stylesheet_link_tag '/plugins/font-awesome/css/font-awesome.min.css' %>
    <!-- Core CSS-->
    <%= stylesheet_link_tag '/build/css/first-layout.css' %>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= yield :head %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4VQ5Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= render "authentication_header" %>
    <div id="top-tutoring-flashes">
      <%= render "flashes" %>
    </div>

    <div class="main-container">
      <%= yield %>
    </div>

    <%= render "footer" %>

    <%= javascript_include_tag :application %>
    <!-- Required JS for template -->
    <%= javascript_include_tag '/www/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/www/js/scripts.js' %>
    <%= javascript_include_tag '/www/js/parallax.min.js' %>
    <%= javascript_include_tag '/www/js/smooth-scroll.min.js' %>
    <%= javascript_include_tag '/www/js/flexslider.min.js' %>
    <%= javascript_include_tag '/www/js/sign-up.js' %>

    <%= render "misc_javascript" %>
    <%= yield :javascript %>
    <%= render "css_overrides" %>
  </body>
</html>
