<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%#
      Configure default and controller-, and view-specific titles in
      config/locales/en.yml. For more see:
      https://github.com/calebthompson/title#usage
    %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Top Tutoring</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PH4VQ5Z');</script>
    <!-- End Google Tag Manager -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!-- JQuery -->
    <%= javascript_include_tag '/plugins/jquery/dist/jquery.min.js' %>
    <!-- Bootstrap CSS-->
    <%= stylesheet_link_tag '/plugins/bootstrap/dist/css/bootstrap.min.css' %>
    <!-- Ionicons-->
    <%= stylesheet_link_tag '/plugins/Ionicons/css/ionicons.min.css' %>
    <!-- Itim-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <!-- Font Awesome-->
    <%= stylesheet_link_tag '/plugins/font-awesome/css/font-awesome.min.css' %>
    <!-- Dancing Script -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
    <!-- Core CSS-->
    <%= stylesheet_link_tag '/build/css/first-layout.css' %>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4VQ5Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% if current_user.nil? %>
      <%= render "authentication_header" %>
    <% else %>
      <%= render "user_header" %>
      <%= render "menu" %>
    <% end %>

    <div class="main-container login-container">
      <%= render "flashes" %>
      <%= yield %>
    </div>

    <%= render "footer" if current_user.nil? %>

    <%= render "javascript" %>
    <%= render "css_overrides" %>
  </body>
</html>
